{% extends "layout.njk" %}
{% set path = "../" %}

{% block head %}
    <title>Les Carmidor - Carte</title>
{% endblock %}

{% block content %}
    {% import 'macros/nav.njk' as nav %}
    {{nav.active('world')}}

    <main class="map">
        {% include 'svg/map.svg' %}
    </main>

    <section class="map-legend">
        <h1>Les terres émergées</h1>

        <div class="zoom">
            <button type="button" id="zoomMinus" title="Dézoomer la carte" disabled>-</button>

            <button type="button" id="zoomPlus" title="Zoomer la carte">+</button>
        </div>

        <div class="echelle">
            <span class="level-a">1&#8239;000&nbsp;km</span>
            <span class="level-b">600&nbsp;km</span>
            <span class="level-c">300&nbsp;km</span>
        </div>
    </section>

    <script src="../js/map.js"></script>
{% endblock %}