{% extends "layout.njk" %}

{% block head %}
    <title>Les Carmidor - Univers</title>
{% endblock %}

{% block content %}
    {% import 'macros/nav.njk' as nav %}
    {{nav.active('lore')}}

    <main>
        <h1>Univers</h1>

        <p>À venir</p>
    </main>
{% endblock %}