.insta-top {
    h1 {
        margin: $spaceMD 0;
        font-size: $titleSizeSM;
    }

    .networks {
        a {
            svg {
                fill: $primaryLight;
            }

            &:hover,
            &:active,
            &:focus {
                svg {
                    fill: $white00;
                }
            }
        }
    }
}