.button--publisher {
    display: inline-flex;
    align-items: center;
    height: $buttonHeight;
    margin: $spaceSM 0;
    padding: $spaceXS $spaceSM;
    background-color: $secondary;
    background-image: linear-gradient(
        to bottom right,
        $secondaryLight,
        $secondary 20%,
        $secondaryDark
    );
    background-size: 200%;
    background-position-x: 100%;
    color: $black00;
    font-size: $fontSizeSM;
    line-height: $lineHeightXS;
    transition: all $durationSM;

    @media #{$maxSM} {
        font-size: $fontSizeXS;
    }

    &:hover,
    &:active,
    &:focus {
        background-position-x: 0%;
    }
}