$gradient: 8vw;

.map-legend {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    background-color: transparentize($white00, 0.1);
    padding: $spaceXXS;

    @media #{$maxMD} {
        justify-content: space-between;
        width: 100%;
    }

    @media #{$minMD} {
        max-width: 100%;
        padding-right: $gradient;
        mask-image: linear-gradient(to left, transparent, black #{$gradient});
    }

    h1 {
        margin: 0;
        font-size: $titleSizeXS;
        line-height: normal;

        @media #{$minMD} {
            margin-right: $spaceXXL;
            font-size: $titleSizeMD;
        }
    }
}

.echelle {
    span {
        display: none;
        box-sizing: border-box;
        border: $line solid $primary;
        border-top: none;
        color: $primary;
        text-align: center;
        font-size: $fontSizeXXS;
        line-height: 1;
        transition: all $durationXS linear;
    }

    .level-a {
        width: 18vw; // default value at zoom = 100%
    }
}
