$gradient: 10vw;

.map-controls {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    background-color: transparentize($white00, 0.1);
    padding: $spaceXXS;
    padding-right: $gradient;
    mask-image: linear-gradient(to left, transparent, black #{$gradient});

    &::before {
        content: '';
        position: absolute;
        top: $line*2;
        left: 0;
        height: $line;
        width: 100%;
        background-color: $secondary;
    }

    h1 {
        margin: 0;
        font-size: $titleSizeMD;
        line-height: normal;
    }
}

.zoom-control {
    display: flex;
    align-items: center;
    padding: 0 $spaceLG;

    svg {
        fill: none;
        stroke: $secondary;
        margin: 0 $spaceXS;
        transition: all $durationSM;

        &:first-of-type {
            width: 20px;
            stroke-width: 16px;
        }

        &:last-of-type {
            width: 38px;
            stroke-width: 10px;
        }
    }
}

.echelle {
    width: 18.3vw; // default value at zoom = 100%
    border: $line solid $primary;
    border-top: none;
    color: $primary;
    text-align: center;
    font-size: $fontSizeXXS;
    line-height: 1;

    span {
        display: none;
    }

    @for $i from 1 through 3 {
        &[data-zoom="#{$i}"] {
            .zoom-#{$i} {
                display: inline;
            }
        }
    }
}
