.map {
    * {
        transition: opacity $durationSM, stroke-opacity $durationSM;
    }

    svg {
        width: 100%;
        transition: width $durationXS linear;
    }

    text {
        path {
            fill: none;
        }
    }

    @import "svg/decoration";
    @import "svg/lands";
    @import "svg/montains";
    @import "svg/water";
}
