.home-author {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap-reverse;

    article {
        padding: $spaceMD;

        h2 {
            margin-top: $spaceSM;
        }

        .buttons {
            margin-top: $spaceSM;
        }
    }
}