{% extends "layout.njk" %}
{% set path = "../../" %}

{% block head %}
    <title>Les Carmidor - Résumés</title>
{% endblock %}

{% block content %}
    {% from 'nav.njk' import nav %}
    {{nav()}}

    <main>
        <h1>Résumés des tomes</h1>

        <p>À venir</p>
    </main>

    {% include 'footer.njk' %}
{% endblock %}