.button {
    position: relative;
    z-index: $z-index-content;
    height: $buttonHeight;
    padding: 0 ($spaceSM - 2) 0 $spaceSM;
    display: flex;
    align-items: center;
    font-family: $fontMain, serif;
    font-size: $fontSizeSM;
    font-weight: $bold;
    text-transform: uppercase;
    letter-spacing: $spacingLG;
    border: $line solid $primary;
    color: $primary;
    transition: color $durationSM;

    &.icon-mobile {
        @media #{$maxMD} {
            font-size: 0;
            padding: $spaceXS;
        }

        svg {
            display: none;
            height: 100%;
            fill: none;
            stroke: $primary;
            stroke-width: 10;
            transition: all $durationSM;

            @media #{$maxMD} {
                display: block;
            }
        }

        &:hover,
        &:active,
        &:focus,
        &.active {
            svg {
                stroke: $white00;
            }
        }
    }

    &::before {
        content: '';
        position: absolute;
        z-index: $z-index-bg-link;
        left: 0;
        bottom: 0;
        height: 0;
        width: 100%;
        background-color: $primary;
        transition: all $durationSM;
    }

    &:hover,
    &:active,
    &:focus,
    &.active {
        color: $white00;

        &::before {
            height: 100%;
        }
    }
}
