.button {
    position: relative;
    z-index: $z-index-content;
    height: $buttonHeight;
    padding: 0 ($spaceSM - 2) 0 $spaceSM;
    display: flex;
    align-items: center;
    font-family: $fontMain, serif;
    font-size: $fontSizeLG;
    font-weight: $bold;
    font-variant: small-caps;
    letter-spacing: $spacingSM;
    border: $line solid $black00;
    color: $black00;
    transition: color $durationSM;

    &::before {
        content: '';
        position: absolute;
        z-index: $z-index-bg-link;
        left: 0;
        bottom: 0;
        height: 0;
        width: 100%;
        background-color: $black00;
        transition: all $durationSM;
    }

    &:hover,
    &:active,
    &:focus,
    &.active {
        text-shadow: none;
        color: $white00;

        &::before {
            height: 100%;
        }
    }

    &.icon-mobile {
        @media #{$maxMD} {
            font-size: 0;
            padding: $spaceXS;
        }

        svg {
            display: none;
            height: 100%;
            fill: none;
            stroke: $black00;
            stroke-width: 10;
            transition: all $durationSM;

            @media #{$maxMD} {
                display: block;
            }
        }

        &:hover,
        &:active,
        &:focus,
        &.active {
            svg {
                stroke: $white00;
            }
        }
    }

    @each $colorName, $color in $mainColors {
        &--#{$colorName} {
            border-color: $color;
            color: $color;

            &::before {
                background-color: $color;
            }

            &.icon-mobile {
                svg {
                    stroke: $color;
                }
            }

            @if $colorName == white {
                &:hover,
                &:active,
                &:focus,
                &.active {
                    color: $primaryDark;

                    svg {
                        stroke: $primaryDark;
                    }
                }
            }
        }
    }
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    .link,
    .button {
        margin: $spaceSM;
    }
}
