.card {
    margin: $spaceMD;
    padding: $spaceMD;
    border: $line*4 solid $white00;
    outline: $line solid;

    p {
        font-size: $fontSizeSM;
        margin: $spaceSM 0;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    @each $colorName, $color in $colors {
        &--#{$colorName} {
            background-color: map-get($color, "ultraLight");
            color: map-get($color, "dark");
            outline-color: map-get($color, "ultraLight");

            a {
                color: map-get($color, "ultraDark");

                &:hover,
                &:active,
                &:focus {
                    color: map-get($color, "ultraDark");
                    background-color: map-get($color, "light");
                }
            }
        }
    } 
}