.chapter {
    max-width: 650px;
    margin: 0 auto;
    padding: $spaceMD;

    h2 {
        text-align: center;
        margin-bottom: $spaceSM;
    }

    .chapter-date {
        text-align: center;
        font-family: $fontMain, serif;
        font-size: $fontSizeXL;
        color: $grey50;

        &::after {
            content: '';
            width: $underline;
            height: $line;
            background-color: $secondaryLight;
            margin: $spaceMD auto $spaceXL auto;
        }
    }

    p {
        text-align: justify;
        font-size: $fontSizeSM;
        margin: $spaceSM 0;
        text-indent: 2em;
    }
}

.banner-fixed-image {
    .chapter {
        margin: $spaceMD;
        background-color: $white00;
        text-shadow: none;

        @media #{$minMD} {
            max-width: 720px;
            padding: $spaceXXL;
        }
        
        h2,
        p {
            color: $black00;
        }
    }
}