.link {
    position: relative;
    font-family: $fontMain, serif;
    font-size: $fontSizeLG;
    font-weight: $bold;
    font-variant: small-caps;
    letter-spacing: $spacingSM;
    color: $primary;

    &::before,
    &::after {
        content: '';
        position: absolute;
        height: $line;
        width: 0;
        background-color: $primary;
        opacity: .5;
        transition: all $durationSM;
    }

    &::before {
        left: 0;
    }

    &::after {
        right: 0;
        transition-delay: $durationSM/2;
    }

    &:hover,
    &:active,
    &:focus,
    &.active {
        &::before,
        &::after {
            width: 100%;
        }
    }
}
