$indent: 2em;

.list {
    list-style-type: none;
    margin: 0;
    padding-left: $indent;

    li {
        margin: $spaceMD 0;
        text-indent: -$indent;
        
        &::before {
            content: '—';
            display: inline;
            margin-right: $spaceSM;
        }
    }

    @each $colorName, $color in $colors {
        &--#{$colorName} {
            li {
                &::before {
                    color: map-get($color, "main");
                }
            }
        }
    }
}

.list-tags {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;

    li {
        margin: $spaceXS;
    }
}

.list-centered {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;

    li {
        margin: $spaceXS;
    }
}