.logo {
    margin: $spaceSM;

    svg {
        transition: all $durationSM;
    }

    &:hover,
    &:active,
    &:focus {
        svg {
            transform: scale(1.05);
        }
    }

    &--sm {
        svg {
            height: 30px;
            max-width: 120px;
        }
    }

    &--white {
        svg {
            fill: $white00;
            opacity: 0.6;
        }


        &:hover,
        &:active,
        &:focus {
            svg {
                opacity: 1;
            }
        }
    }

    @each $colorName, $color in $colors {
        &--#{$colorName} {
            svg {
                fill: map-get($color, "main");
            }

            &:hover,
            &:active,
            &:focus {
                svg {
                    fill: $black00;
                }
            }
        }
    }
}