@mixin rangeDisc() {
    appearance: none;
    cursor: pointer;
    width: $rangeDisc;
    height: $rangeDisc;
    border-radius: 50%;
    background-color: $secondary;
    transition: all $durationSM;

    &:hover {
        background-color: $secondaryDark;
    }
}

[type="range"] {
    appearance: none;
    outline: none;
    width: $rangeWidth;
    height: $spaceXXS;
    padding: 0 $spaceXS;
    background-color: $secondary;

    &::-webkit-slider-thumb {
        @include rangeDisc();
    }

    &::-moz-range-thumb {
        @include rangeDisc();
    }
}
