$line: 1px;

$buttonHeight: 36px;
$navHeight: $buttonHeight + ($spaceXS * 2);

$rangeDisc: 15px;
$rangeWidth: 150px;

$underline: 100px;

// $radioSize: 21px;
// $radioCircleSize: $radioSize - ($line * 6);

// $widthCard: 300px;
// $widthBlock: 620px;
// $widthContent: 780px;
// $widthContainer: 1100px;
