<article class="chapter">
    <h2>Prologue</h2>

    <small class="chapter-date">An 1297 après l’Engloutissement</small>

    <p>Un cri aigu résonna dans le palais de Virda. Un cri attendu depuis des mois&nbsp;; vibrant et fragile, à la fois espéré et craint. Un cri reconnaissable entre mille pour la reine Morgat.</p>
    <p>Le deuxième enfant du roi venait de naître.</p>
    <p>Hélas pour la reine, il ne s’agissait pas du sien.</p>
    <p>La jeune femme inspira profondément. Âgée d’à peine vingt-deux hivers, elle vivait depuis plusieurs années dans le royaume de son mari, Todvis, un monarque du Sud que son père avait choisi pour elle.</p>
    <p>Un royaume et un mari qui ne seraient jamais siens.</p>
    <p>Morgat posa ses mains sur le rebord de sa fenêtre qui découpait en ogive l’horizon de collines roussies par les prémices de l’été. La seule teinte ocre des champs, autrefois verdoyants, lui noua la gorge&nbsp;: le duché de Goragna déclinait, et avec lui, la maison Arvagna.</p>
    <p>Les sécheresses causeraient la ruine de la famille de son époux, Morgat ne le savait que trop bien.</p>
    <p>Elle ferma les yeux. Le baiser glacé de la pierre sous ses paumes la ramena cinq ans plus tôt, dans les plaines gelées de son enfance. En cet instant, la Scorvège, la contrée la plus froide du monde, lui paraissait cent fois plus hospitalière que la Rubisie. La chaleur humide de sa capitale l’étouffait comme pour lui rappeler sa condition d’étrangère.</p>
    <p>L’écho lointain des pleurs du nourrisson l’arracha à ses souvenirs.</p>
    <p>Elle s’approcha d’une petite bassine disposée sur une table ouvragée. Évitant le reflet épuisé que lui renvoyait son miroir, elle plongea un linge dans l’eau tiède et tamponna son visage. Ses doigts humides glissèrent dans ses longs cheveux blonds, moins pour les dénouer que pour les décoller de sa nuque moite, puis elle quitta les appartements conjugaux.</p>
    <p>Morgat traversa le palais sans prêter attention aux courtisans qui s’inclinaient sur son passage, un sourire hypocrite aux lèvres. Nul n’ignorait sa disgrâce&nbsp;: contrainte d’accepter la présence d’Illinor Octambre, la maîtresse royale sur qui reposait l’espoir d’une descendance masculine, sa fierté ne tenait plus qu’à sa couronne.</p>
    <p>Elle n’avait su donner qu’une seule fille au roi, proche de la quarantaine. Un héritier devenait une nécessité pressante.</p>
    <p>—&nbsp;Ma reine, susurra un jeune noble tandis que claquait sa cape noire.</p>
    <p>Morgat serra la mâchoire. De tous les rictus effrontés, celui de Rehard Virdemis la révoltait le plus. Du haut de ses dix-neuf ans, le neveu du duc de Lorsis avait l’audace de la dévisager avec un savant mélange de moquerie et de concupiscence.</p>
    <p>—&nbsp;Quelle belle journée, ne trouvez-vous pas&nbsp;? articula-t-il avec condescendance.</p>
    <p>La langue chantante parlée dans le royaume de son époux recelait encore de nombreux mystères pour la Scorvégienne, mais elle avait bien vite appris à reconnaître la tonalité du mépris rubisien.</p>
    <p>—&nbsp;Radieuse, ironisa-t-elle de son accent rocailleux. Vous devriez en profiter pour prendre l’air.</p>
    <p>Les lèvres de Rehard s’étirèrent avant qu’elle ne s’éloigne de l’insolent.</p>
    <p>L’insolence. Voilà bien ce qui caractérisait les Virdemis et leurs alliés, les Carmidor, que le commerce maritime enrichissait depuis plusieurs décennies. Les deux clans estaliens n’avaient jamais été aussi influents.</p>
    <p>Influents et dangereux.</p>
    <p>Morgat arriva devant la chambre de la maîtresse royale. Elle se composa une mine effacée, indéchiffrable, pour dissimuler les battements effrénés de son cœur, puis entra d’un pas altier.</p>
    <p>Le lit à baldaquin portait les stigmates de l’accouchement&nbsp;: les draps teintés de sang pendaient de chaque côté du matelas, et un petit tas de linges souillés gisait au centre de la couche.</p>
    <p>Trois sages-femmes s’activaient autour d’Illinor, dont les mèches brunes se mêlaient à la sueur de ses tempes et de son front. La mine radieuse, elle admirait les traits du nouveau-né niché dans ses bras. Elle leva des yeux triomphants vers la reine et la salua sans contenir sa joie&nbsp;:</p>
    <p>—&nbsp;Votre Majesté.</p>
    <p>Son regard en disait plus que n’importe quel discours.</p>
    <p>—&nbsp;C’est un garçon, jubila la favorite. Un beau garçon en parfaite santé. Loués soient les dieux&nbsp;!</p>
    <p>Aucune réponse ne s’échappa des lèvres tremblantes de Morgat, sous le choc. Elle s’appuya sur le dais pour ne pas chanceler, les tempes bourdonnantes.</p>
    <p>La porte s’ouvrit de nouveau. Todvis pénétra dans la pièce et bouscula son épouse pour se précipiter au chevet de sa maîtresse.</p>
    <p>—&nbsp;Enfin&nbsp;! se réjouit-il. Après toutes ces années&hellip;</p>
    <p>Peinant à retenir ses larmes, la reine observa, présente et invisible, son mari prendre l’enfant dans ses bras et proclamer avec émotion&nbsp;:</p>
    <p>—&nbsp;Mon fils, ton nom est Tornos.</p>
    <p>Le nourrisson se mit à pleurer. Todvis l’embrassa sur le front et le rendit à Illinor.</p>
    <p>—&nbsp;Tornos Arvagna, ajouta-t-elle en pressant sa paume.</p>
    <p>Une sourde colère s’empara de Morgat.</p>
    <p>—&nbsp;Tornos. Seulement Tornos, pesta-t-elle. Les bâtards ne portent pas de nom.</p>
    <p>Le souverain leva vers elle un visage inexpressif. Incapable d’en supporter davantage, la reine humiliée fit volte-face et claqua la porte de la chambre. Elle maudit les dieux, sa famille, son époux qui ne l’était plus, sa couronne qui lui échappait.</p>
    <p>La Scorvégienne regrettait infiniment les coutumes de ses ancêtres, dont les lois lui auraient permis de trancher la gorge de l’impudente qui avait séduit son mari.</p>
    <p>Pire encore que les affronts répétés qu’elle n’avait d’autre choix que de subir en silence, elle craignait désormais pour sa fille. En ces temps troublés, personne ne verrait d’un bon œil qu’une femme monte sur le trône. Ce bâtard représentait une menace.</p>
    <p>La colère céda la place à l’angoisse.</p>
    <p>Elle emprunta un escalier menant aux appartements princiers et y pénétra sans frapper. À l’autre bout de l’antichambre, la princesse Dista Arvagna, sa fille de trois ans, lui tournait le dos. Un cheval de bois à la main, elle babillait à l’intention de sa gouvernante. Agenouillée près d’elle, la domestique hochait la tête avec sérieux tandis que l’enfant lui racontait l’histoire de son jouet.</p>
    <p>Morgat esquissa un sourire triste. L’âge de l’innocence serait bientôt révolu pour la princesse.</p>
    <p>Apercevant la reine, la gouvernante se releva et s’inclina. Dista se retourna et son visage s’éclaira.</p>
    <p>—&nbsp;Maman&nbsp;! s’écria-t-elle.</p>
    <p>La petite accourut dans sa direction et se jeta dans ses bras. Morgat la serra contre elle et déposa un baiser dans ses boucles blondes. Sa fille lui ressemblait trait pour trait&nbsp;: la même peau blanche, les mêmes cheveux or pâle, les mêmes iris azurins.</p>
    <p>—&nbsp;Majesté, s’enquit la domestique avec douceur, la rumeur est-elle vraie&nbsp;? Notre princesse a-t-elle un petit frère&nbsp;?</p>
    <p>La reine lui darda un regard chargé d’éclairs.</p>
    <p>—&nbsp;Un «&nbsp;petit frère&nbsp;»&nbsp;? Oseriez-vous dire que la princesse Dista Arvagna, héritière du trône de Rubisie, ne vaut pas mieux qu’un vulgaire bâtard&nbsp;?</p>
    <p>La gouvernante bredouilla&nbsp;:</p>
    <p>—&nbsp;Non, Majesté, bien sûr que non&hellip;</p>
    <p>—&nbsp;Le bâtard du roi n’est pas son frère.</p>
    <p>Alors que la servante se confondait en excuses, elle reporta son attention sur sa fille. Son petit poing devant la bouche comme pour s’empêcher d’interroger sa mère au sujet de ce mystérieux frère, elle écarquillait ses grands yeux. Morgat glissa une mèche rebelle derrière son oreille et murmura en scorvégien&nbsp;:</p>
    <p>—&nbsp;Ne t’inquiète pas, tu resteras toujours la première fille de ton père. Rien ni personne ne pourra jamais changer cela.</p>
    <p>Qui d’elle ou de Dista cherchait-elle à rassurer&nbsp;? La reine chassa cette question de son esprit troublé et se retourna vers la gouvernante.</p>
    <p>—&nbsp;Trouvez-moi la toilette la plus somptueuse de la princesse, lui intima-t-elle sèchement.</p>
    <p>La domestique s’exécuta aussitôt. Elle fouilla dans la garde-robe et en sortit deux tenues aux étoffes brodées.</p>
    <p>—&nbsp;Laquelle préférez-vous, Majesté&nbsp;: la violette ou la rouge&nbsp;?</p>
    <p>Morgat envisagea la première option avant de se raviser. Le violet des Arvagna ne suffisait plus. Sa fille n’était pas seulement la descendante de la famille gorandine&nbsp;: elle était la future souveraine de Rubisie. Elle ne méritait rien de moins que le pourpre royal.</p>
    <p>—&nbsp;La rouge, trancha-t-elle.</p>
    <p>Elle reposa sa fille et laissa la gouvernante lui retirer sa chainse avant de la vêtir. Docile, Dista n’émit aucune protestation. Morgat supervisait rarement ses habillages&nbsp;: cette exception l’impressionnait au point de la rendre mutique.</p>
    <p>Une fois parée de la robe en velours rouge, la fillette s’assit sur un tabouret pour être coiffée. La domestique ôta le bonnet lilial qui protégeait ses mèches et, sur les instructions de la reine, les tressa en une couronne piquée de perles.</p>
    <p>Morgat ajouta un collier et des bracelets en or, puis s’écarta pour contempler son œuvre. Dista ne ressemblait plus à une enfant. Les lumières accrochaient la moire de sa robe et le métal de ses bijoux comme s’il s’agissait d’une pierre précieuse.</p>
    <p>—&nbsp;Parfait, apprécia-t-elle. Allons rendre visite à ton père.</p>
    <p>Sans un mot pour la gouvernante, la reine et la princesse sortirent de la pouponnière. Une fois au rez-de-chaussée, Morgat laissa marcher sa fille dans les longs couloirs vidés des courtisans. Pour sûr, tous se trouvaient dans la salle du trône, où Todvis devait annoncer la naissance de son bâtard.</p>
    <p>Mais elle avait l’intention de lui rappeler qu’il avait déjà une héritière. La cour tout entière devait s’en souvenir.</p>
    <p>Sa petite main dans celle de sa mère, Dista peinait à avancer dans sa robe princière, mais elle gambadait avec un tel entrain qu’un sourire égaya les traits de la Scorvégienne. Il s’effaça lorsqu’elles parvinrent devant les hautes portes ouvragées de la salle du trône.</p>
    <p>Morgat attrapa la fillette sous les aisselles et la jucha sur sa hanche. Elle prit une profonde inspiration, releva le menton et fit irruption dans la pièce bondée.</p>
    <p>Les yeux rivés sur son mari, elle fendit la foule sous une vague de révérences.</p>
    <p>D’un pas que rien ne semblait pouvoir arrêter, elle arriva au bas des escaliers menant au trône et en grimpa les premières marches.</p>
    <p>Un affront que, reine ou non, Todvis ne lui pardonnerait pas. Une rumeur outrée balaya les rangs des nobles, qui scrutaient la princesse comme s’ils la voyaient pour la première fois. Flamboyante dans des atours impropres à son jeune âge, elle les dévisageait sans la moindre gêne tandis qu’ils détaillaient chaque once de son apparence étudiée.</p>
    <p>Les paupières plissées de contrariété, le monarque observa son épouse se retourner vers ses sujets, leur fille tel un trophée dans ses bras.</p>
    <p>—&nbsp;Nobles rubisiens&nbsp;! déclama-t-elle avec force. Vous célébrez en ce jour la naissance de Tornos, le fils illégitime de Sa Majesté le roi Todvis VII. Réjouissez-vous&nbsp;! Aucun bâtard ne montera sur ce trône.</p>
    <p>Sa voix aux accents rugueux, caractéristiques de sa langue maternelle, plongea la grande salle dans un silence absolu.</p>
    <p>—&nbsp;Aucun fils sans nom ne régnera sur vous, vous tous qui en portez de très prestigieux, insista-t-elle avec véhémence.</p>
    <p>Suspendue à ses lèvres, la noblesse paraissait avoir oublié comment respirer.</p>
    <p>—&nbsp;La princesse Dista Arvagna montera sur le trône. Et, je vous en fais le serment, elle deviendra la plus grande souveraine que ce royaume ait jamais connue&nbsp;!</p>
    <p>Défiant quiconque de la détromper, la reine dévisagea les courtisans. Un à un, ils plièrent sous le feu de son regard glacé. Des applaudissements timides retentirent et enflèrent peu à peu jusqu’à saisir toute l’assemblée.</p>
    <p>Morgat se retourna vers son époux. Le monarque frémissait de fureur, mais ce n’était rien en comparaison de l’implacable détermination qui habitait la reine. Elle serra Dista contre elle comme pour lui insuffler la force dont elle aurait un jour besoin.</p>
    <p>La jeune femme combattit en silence la colère de son mari. Sans un mot, ses prunelles lui rendirent coup pour coup les blessures qu’il lui avait infligées.</p>
    <p>Todvis réalisa alors qu’il avait perdu la partie. Morgat venait de lui porter l’estocade.</p>
    <p>Personne d’autre que Dista Arvagna ne lui succèderait sur le trône de Rubisie. Sa reine s’en assurerait.</p>
</article>