<p>
    Les noces de Giorda se sont achevées dans les flammes et les cendres. Contrainte de fuir la capitale, sa position de reine ne tient désormais plus qu’à un fil&nbsp;: celui de la vie du souverain.
</p>

<p>
    Loin de la cour, ses ennemis affûtent leurs armes. Tiraillé entre rivalités politiques et complots religieux, Aron pourrait tout aussi bien remporter une couronne que périr le glaive à la main.
</p>

<p>
    Qu’importe si la peste ravage les duchés de l’ouest&nbsp;: l’orage gronde, prêt à balayer le royaume d’un vent de révolte plus mortel encore.
</p>