<p>
    Le royaume de Rubisie se déchire entre l’Ouest, appauvri par de graves sécheresses, et les riches duchés de l’Est, dont l’influence menace le roi.
</p>

<p>
    Mus par l’ambition, les nobles continentaux et la puissante famille Carmidor s’allient contre la dynastie royale. Seule la princesse héritière, Dista Arvagna, échappe au massacre.
</p>

<p>
    Entre complots, assassinats et montée en puissance d’une secte religieuse prédisant le soulèvement des océans, les Carmidor doivent lutter pour leur survie, quels que soient les sacrifices.
</p>

<p>
    Plus que les autres, ils le savent&nbsp;: les vagues les plus dévastatrices seront faites de larmes et de sang.
</p>