<p>
    Des vagues de larmes et de sang ont beau avoir balayé le mariage de Giorda, elle n’en demeure pas moins prisonnière des ambitions d’un tyran.
</p>

<p>
    Alors que la dangereuse foi népéiste se répand au sein du peuple et de la noblesse, un autre mal se propage au sud&nbsp;: la peste noire, dont les premiers contaminés surgissent au cours d’une messe en l’honneur du dieu des océans.
</p>

<p>
    D’autres Carmidor, exilés sur des terres étrangères, luttent pour leur survie et leur vengeance.
</p>

<p>
    Hanté par ses cauchemars, le duc de Corance le redoute&nbsp;: bientôt les braises de la discorde enflammeront le royaume tout entier.
</p>