<p>La capitale a été réduite en cendres. Décidé à anéantir les hérétiques, Dorio plonge dans les abysses de l’intolérance, dût-il affronter Giorda, prête à ébranler la Foi elle-même.</p>

<p>Reine pour la seconde fois, plus puissante que jamais, elle se heurte pourtant aux limites de sa propre chair&nbsp;: son mari exige un héritier mâle qu’elle ne parvient pas à lui donner.</p>

<p>Au nord, Aron, désormais roi, marche aux côtés de son épouse vers les redoutables guerriers des terres glacées, tandis qu’au sud, Idissa Carmidor devient la pièce maîtresse de sa sœur à la cour du sultan.</p>

<p>Mais alors que tous avancent leurs pions, leur ambition se révèle plus mortelle que jamais, et leur descendance pourrait bien en payer le prix.</p>