<small class="chapter-date">De 1297 à 1310 après l’Engloutissement</small>

<p>En l’an 1297 après l’Engloutissement naît Tornos, le fils bâtard de Todvis Arvagna&nbsp;VII, roi de <span class="pseudo-link" data-js="popin" data-popin="rubisie">Rubisie</span>. Si le souverain a déjà une héritière, la princesse Dista Arvagna, la naissance de son demi-frère inquiète grandement la reine Morgat, sa mère, qui craint de voir sa fille écartée du trône en raison de son sexe.</p>
<p>Douze années se sont écoulées. Visars Virdemis, le duc de <span class="pseudo-link" data-js="popin" data-popin="region-lorsis">Lorsis</span>, rend visite au duc de <span class="pseudo-link" data-js="popin" data-popin="region-corance">Corance</span>, Bargald Carmidor. Il lui annonce que le roi Todvis, ruiné, s’apprête à lever un impôt sur le commerce maritime, lequel fait la richesse de Bargald et lui. Cette décision constitue une injure, pour eux dont la noblesse les exempte de taxe&nbsp;: les deux ducs déclarent la guerre aux Arvagna.</p>
<p>Un an plus tard, les Carmidor, les Virdemis, les Moronard et leurs alliés prennent <span class="pseudo-link" data-js="popin" data-popin="virda">Virda</span>, la capitale, et exécutent le roi Todvis et la reine Morgat. Rehard Virdemis, le neveu de Visars, est couronné roi de Rubisie, mettant fin à la guerre.</p>
<p>En fouillant dans les appartements royaux, Bargald découvre un courrier falsifié dans lequel il aurait refusé un mariage entre son fils aîné, Aron Carmidor, et la princesse Dista Arvagna. Cette alliance sabotée lui révèle que Visars s’est joué de lui. Furieux, il le confronte dans la crypte de ses ancêtres. Le duc de Lorsis admet les faits&nbsp;: laisser les Carmidor et les Arvagna s’unir aurait menacé son duché, raison pour laquelle il a manigancé avec Moerl Tasquin, le secrétaire de Todvis, pour avorter ce projet.</p>
<p>La confiance entre les deux hommes est brisée, mais sachant Rehard étranger à ces mensonges, Bargald décide de taire ce complot afin de ne pas replonger le royaume dans une guerre.</p>
<p>Le roi fonde son nouveau Conseil. Il nomme son oncle Visars chancelier, Bargald président du Conseil des Trois, et attribue les titres de conseillers à Moerl Tasquin et un autre baron, Forbon Dépinant.</p>
<p>À <span class="pseudo-link" data-js="popin" data-popin="goragna">Goragna</span>, le fief historique des Arvagna, la princesse Dista a appris l’exécution de sa mère et de son père. Retranchée avec son demi-frère Tornos dans le château de sa famille, cernée par les armées du nouveau roi qui a l’intention de la capturer pour l’empêcher de contester son règne, elle finit par accepter de fuir à l’étranger.</p>
<p>Tornos, Dista, son chevalier Philius et son précepteur Cistote s’échappent du château assiégé et parviennent à gagner le royaume d’<span class="pseudo-link" data-js="popin" data-popin="arcavie">Arcavie</span>, où règne le cousin de Dista. Hélas, ils sont pris en chasse par des sentinelles ennemies&nbsp;: Tornos meurt d’une flèche en pleine tête et Philius dans un combat pour protéger Dista.</p>
<p>À Virda, la fuite de la dernière Arvagna suscite la colère des Virdemis. Les artisans de cet échec, Kornin Vanderic et le chevalier Agabeld, lequel est également tenu responsable de crimes commis par les soldats sur la population gorandine, sont respectivement exilé et emprisonné. Rehard décide que le procès d’Agabeld se tiendra à Goragna.</p>
<p>Bargald visite le temple d’Ordéon, le dieu des dieux, pour s’assurer du soutien du Grand-Prêtre Gaëlord. S’il rechigne à accorder sa bénédiction au nouveau roi, il cède lorsque le duc de Corance menace de laisser les Népéis, des hérétiques clamant que Népéidon, le maître des océans, est l’unique dieu, prêcher en Rubisie.</p>
<p>À <span class="pseudo-link" data-js="popin" data-popin="corance">Corance</span>, les enfants Carmidor reçoivent une lettre de Bargald. Leur père invite Giorda, sa fille, et Dorio, son cadet, à le rejoindre à la cour. Aron, son fils aîné, garde les rênes du duché tandis qu’Idissa, leur demi-sœur bâtarde, rumine le peu de considération dont la gratifie son père.</p>
<p>Dans la capitale, Rehard soudoie Zaetril, le nouveau second de Hagold Moronard, le duc de <span class="pseudo-link" data-js="popin" data-popin="region-sorgone">Sorgone</span> qui a rallié leurs rangs tardivement après avoir trahi Todvis, afin de s’assurer de la loyauté de son maître.</p>
<p>Dorio et Giorda Carmidor sont présentés à la cour, où cette dernière fait très forte impression, particulièrement sur le roi. Visars s’inquiète de la potentielle influence de Giorda sur son neveu.</p>
<p>Pendant ce temps, à Corance, Idissa retrouve en secret son amant, Orgon Achard. Malheureusement, Aron découvre ses agissements nocturnes. Pour protéger l’honneur de sa demi-sœur, il accepte sa demande d’épouser Orgon et convoque le père de ce dernier, le baron Nadros Achard, afin de lui proposer de conclure cette union.</p>
<p>Alors qu’Idissa est persuadée qu’il y consentira, Orgon refuse, arguant qu’il n’y a aucun honneur à épouser une fille bâtarde. Aron bannit les Achard de Corance en leur interdisant de révéler l’infamie de sa demi-sœur.</p>
<p>La cour se rend à Goragna pour le procès d’Agabeld. Visars mène les charges contre lui et, conformément à la volonté du roi, Bargald assure sa défense. Il sait cependant que le sort du chevalier est déjà scellé, ce qui n’empêche pas les Gorandins de nourrir du ressentiment à son encontre lorsqu’il présente les arguments en faveur d’Agabeld.</p>
<p>Sans surprise, Rehard condamne Agabeld à mort et il est pendu sur la place publique.</p>
<p>Le souverain nomme Lods Rhodives, un baron gorandin allié à Visars, nouveau duc de <span class="pseudo-link" data-js="popin" data-popin="region-goragna">Goragna</span> pour remplacer le précédent détenteur du titre, qui n’était autre que le roi Todvis. Un bal est donné en l’honneur de cette nomination, et Rehard se montre avec sa fille, Catessia Rhodives, au grand dam de Bargald qui pousse Giorda à le séduire. Malgré les menaces voilées du chancelier, elle parvient à se rapprocher du monarque, sans pour autant évincer Catessia.</p>
<p>De retour à Virda, la cour est frappée par un crime abominable&nbsp;: Bargald est assassiné violemment au sein du palais, sous les yeux de Giorda et Dorio, par un Gorandin endeuillé qui avait assisté au procès d’Agabeld.</p>
<p>Ravagée par le chagrin, Giorda obtient du roi que le criminel soit jugé à Corance, selon leurs lois, sans préciser ce que cela implique.</p>
<p>À <span class="pseudo-link" data-js="popin" data-popin="erinthe">Érinthe</span>, la capitale de l’Arcavie, Dista a rejoint la cour de Millas&nbsp;IV, le fils de sa tante Esther. Lors d’une audience publique, le Grand-Prêtre de Népéidon, Haogas, annonce à Dista la mort de Bargald Carmidor. Si Dista se félicite de cette nouvelle, elle sait aussi que nombre d’autres traîtres doivent périr pour venger ses parents.</p>
<p>Elle demande donc à son cousin de mobiliser ses armées pour l’aider à reconquérir le trône rubisien, qui lui revient de droit. S’il la reconnaît comme la reine légitime de la Rubisie, Millas refuse cependant sa requête, sur les conseils de sa mère et d’Haogas. Ce dernier annonce à Dista que le dieu unique, Népéidon, lui a donné une vision d’une grande victoire si elle patientait jusqu’à l’arrivée de son élu, lequel devrait lui permettre de reprendre sa couronne.</p>
<p>Les Carmidor, le roi et une partie des courtisans quittent Virda pour rejoindre Corance, où se dérouleront les funérailles de Bargald et l’exécution de son assassin. À bord du galion, Dorio assiste alors à une scène surnaturelle&nbsp;: une népyrme, un gigantesque serpent de mer dont les légendes racontent qu’elle est une envoyée de Népéidon, surgit au loin avant de disparaître. Bouleversé par cette apparition de très mauvais augure dont il est le seul témoin, il n’en dit rien à personne.</p>
<p>Une fois réunis sur leur île, les enfants Carmidor offrent la dépouille de leur père à l’océan conformément à leurs coutumes.</p>
<p>Après les funérailles, Giorda a une conversation avec le roi Rehard et lui apprend que, selon les lois coranciennes, le meurtre d’un Carmidor condamne son assassin au terrible châtiment du Cormoran, une mort lente et spectaculaire qu’abhorre tout particulièrement le monarque. Malgré sa colère d’avoir été manipulé par Giorda, il ne revient pas sur sa promesse de juger le criminel à Corance, mais leur relation s’en trouve fortement compromise.</p>
<p>Le lendemain, le meurtrier de Bargald subit le châtiment du Cormoran. Alors que des nuées de cormorans le dévorent vif sous les yeux de la noblesse, Rehard ordonne à un soldat de l’achever d’une flèche. Hélas, celle-ci atteint mortellement l’un des oiseaux, emblème des Carmidor, causant l’ire d’Aron, le nouveau duc de Corance. L’altercation se résout sans bain de sang, mais la tension culmine entre les Carmidor et les Virdemis.</p>
<p>Après la lecture publique du testament de Bargald, qui fait notamment de ses filles les plus riches héritières de Rubisie, Aron convoque ses vassaux pour leur annoncer son projet&nbsp;: proclamer l’indépendance de Corance. Il est persuadé que les Virdemis ont fait assassiner son père et refuse de ployer le genou devant eux.</p>
<p>Convaincus que cette idée folle va tous les condamner, Dorio et Giorda n’ont d’autre choix que trahir leur aîné pour préserver la paix entre leur maison et la noblesse continentale, même si cela implique de tuer leur frère.</p>
<p>Giorda se rend dans les appartements de Rehard pour l’assurer de sa loyauté, à elle et à Dorio. Alors que le roi et les courtisans quittent Corance, elle embarque avec eux contre l’interdiction d’Aron, qui, en conséquence, la bannit de leur île.</p>
<p>Dorio, resté à Corance pour faire croire à Aron qu’il est de son côté, rencontre ses vassaux en secret pour fomenter une rébellion contre lui. Gagnés par ses arguments, les barons coranciens promettent de le suivre.</p>
<p>De l’autre côté de la mer, à <span class="pseudo-link" data-js="popin" data-popin="lorsis">Lorsis</span>, Giorda assiste à un Conseil, pendant lequel Forbon Tasquin se révèle un allié pour elle, malgré sa position fragilisée à la cour. Une lettre de Dorio assure le roi de son concours dans la prise du château ducal&nbsp;: Rehard et ses conseillers élaborent alors leur plan pour infiltrer la cité et destituer Aron.</p>
<p>En dépit de la coopération de Giorda, Rehard se méfie toujours d’elle et entame une liaison avec Catessia, la fille de Lods Rhodives devenu président du Conseil des Trois pour remplacer Bargald.</p>
<p>Sur le navire les emmenant à Corance, Giorda apprend que Rehard entretient une relation avec Catessia. Passée la colère, le roi et elle s’embrassent&nbsp;; mais, décidée à ne pas offrir sa virginité sans contrepartie, Giorda l’interrompt à temps pour lui souffler l’idée de faire d’elle sa reine.</p>
<p>Une fois les défenses du port neutralisées par les barons coranciens à la solde de Dorio, le galion des Virdemis parvient à entrer dans la rade des Carmides. Dorio s’éclipse pour rejoindre le roi, mais Aron le fait suivre. Dorio abat l’espion pour ne pas être démasqué, après lui avoir promis de prendre soin de son fils, Grim.</p>
<p>Rehard et Dorio mènent une escouade jusqu’à l’intérieur du château ducal, en empruntant un passage immergé conduisant à une crypte secrète. Une fois dans l’enceinte, ils déciment les soldats d’Aron, qui manque d’être tué par le roi. Dorio confronte son frère, mais dans le feu des combats, leur vieux majordome, Xorac, est mortellement blessé. Dorio décide alors d’épargner Aron et le laisse fuir Corance pour sauver sa vie.</p>
<p>Rehard condamne Aron à mort par contumace et offre une généreuse récompense à qui le lui livrera. Dorio devient le nouveau duc de Corance.</p>
<p>Furieuse que Giorda et Dorio aient intrigué contre leur aîné, Idissa s’éloigne d’eux, mais finit par se laisser convaincre par Merria, sa tante, de reprendre sa place à leur table.</p>
<p>Tiraillé par les doutes, Dorio doit dire adieu à son ami Istab, qui s’exile au <span class="pseudo-link" data-js="popin" data-popin="sarouha">Sarouha</span>. Il tient sa promesse de veiller sur Grim, le fils de l’espion d’Aron, et l’emmène au château ducal pour en faire son page.</p>
<p>Aron parvient à embarquer clandestinement sur un navire marchand faisant voile vers le Sarouha, où il espère trouver du soutien pour reconquérir son île.</p>
<p>À Érinthe, Dista échappe de peu à une tentative d’assassinat commanditée par les Virdemis. Le meurtrier est décapité.</p>
<p>Puisqu’elle n’est en sécurité nulle part, elle décide de retourner à <span class="pseudo-link" data-js="popin" data-popin="honterra">Honterra</span>, à la frontière avec le duché de Goragna, où elle rencontre des exilés rubisiens chassés par les armées des Virdemis. Elle leur fait le serment de les protéger.</p>
<p>À Virda, Rehard fait venir Giorda dans ses appartements pour lui annoncer qu’il veut officiellement la prendre pour épouse. Giorda exulte. Hélas, le lendemain, Visars abat ses cartes&nbsp;: il propose au roi un double mariage destiné à resserrer les liens entre les quatre duchés rubisiens. Rehard épouserait ainsi Catessia, unissant Lorsis et Goragna, tandis que Giorda deviendrait la femme de Quopras Moronard, le fils aîné du duc de Sorgone. Convaincu par ce projet qui anéantit ses plans, mais qui sauvegarde la paix, Rehard cède.</p>
<p>Giorda s’effondre, mais le pire est à venir puisque, présentée à son fiancé, elle découvre qu’il s’agit d’un homme tyrannique qui n’hésitera pas à la détruire pour la dompter. Hélas, elle ne peut s’opposer à ce mariage sans risquer de provoquer un nouveau conflit entre les nobles&nbsp;: elle se résigne.</p>
<p>À Corance, rongé par la culpabilité, Dorio se perd dans ses nuits au bordel. La folie le guette, à tel point qu’il blesse puis viole une jeune prostituée, ce qui oblige Madrona, la maquerelle, à le bannir de sa maison close.</p>
<p>Lorsqu’une lettre annonce les fiançailles de Giorda avec Quopras Moronard, Dorio comprend que sa sœur est en danger et se ressaisit. Il se prépare à prendre la mer pour <span class="pseudo-link" data-js="popin" data-popin="sorgone">Sorgone</span>, où les noces doivent être célébrées.</p>
<p>Alors que Merria se félicite de voir Dorio reprendre sa vie en main, elle découvre qu’Idissa est enceinte d’Orgon Achard. Comme elle refuse d’avorter, Idissa n’a d’autre choix que de quitter Corance.</p>
<p>Quand le navire dans lequel il a embarqué clandestinement s’approche des côtes sarouhannes, Aron est démasqué par l’équipage. Pour ne pas être capturé et livré à Rehard, il plonge dans l’océan déchaîné par une tempête et parvient miraculeusement à gagner la plage de <span class="pseudo-link" data-js="popin" data-popin="bogdar">Bogdar</span> à la nage.</p>
<p>À Honterra, Kornin Vanderic se présente à Dista. Si elle envisage de faire exécuter ce traître, autrefois à la solde des Virdemis, il lui révèle qu’il était en réalité un espion au service de son père, et que c’est à lui que Dista doit la vie sauve puisqu’il a permis son évasion de Goragna assiégée. Rassérénée par l’arrivée de ce nouvel allié, qu’elle pense être le fameux élu de Népéidon promis par Haogas, Dista projette de lever un embryon d’armée avec les exilés rubisiens de Honterra.</p>
<p>Elle se rend sous couverture dans une taverne pour entendre ce qu’ils disent d’elle. La déception est rude&nbsp;: nul ne semble croire en elle. Pourtant, habitée d’une détermination sans failles, elle proclame un discours vibrant qui pousse les exilés à lui jurer allégeance.</p>
<p>À Bogdar, la capitale du Sarouha, Aron affronte dans l’arène un gladiateur chevronné pour attirer l’attention du sultan, Seliman, dont il souhaite obtenir le soutien. Il remporte le combat et tue Amongo, son adversaire, sous les yeux de sa compagne, Kireïa, guérisseuse au service du sultan.</p>
<p>Seliman l’accueille dans son palais. Aron y reçoit une missive mystérieuse prétendant détenir des informations concernant Bargald Carmidor.</p>
<p>Comble de la cruauté, le sultan offre à Aron une nuit avec Kireïa pour éprouver son caractère. Néanmoins, Aron s’oppose à l’idée d’abuser de la jeune femme, droguée et endeuillée, quitte à provoquer le courroux du sultan.</p>
<p>Ce dernier refuse finalement d’aider Aron à reconquérir son île et le bannit du sultanat.</p>
<p>À bord de l’<em>Évéria</em>, le navire amiral de sa flotte, Dorio s’approche des côtes sorgonètes. Alors qu’ils se trouvent encore en haute mer, une népyrme interrompt la course du galion. Tout l’équipage tremble, mais heureusement, le monstre finit par se détourner sans attaquer. Effrayés par ce présage, les Coranciens envisagent de rebrousser chemin, mais Dorio n’accepte pas d’abandonner sa sœur.</p>
<p>Lorsqu’il rencontre Quopras, son futur beau-frère, Dorio comprend qu’il avait raison de s’inquiéter. Pourtant, terrifiée à l’idée de condamner son jeune frère au même sort qu’Aron, Giorda refuse de rompre ses fiançailles.</p>
<p>Alors que la cérémonie du mariage s’apprête à commencer, un raz-de-marée dévaste Sorgone. Si le plus gros de la noblesse parvient à se réfugier sur les hauteurs, Dorio, parti sauver Grim qui se trouvait dans les rues du port, est porté disparu, de même que Vaëlia Moronard, la plus jeune sœur de Quopras. Le cadavre d’Énor, son neveu est retrouvé, et Safia, sa nièce amputée des deux jambes, a subi un tel traumatisme qu’elle ne parle plus.</p>
<p>Anéanti, Hagold Moronard, le duc de Sorgone, se suicide par noyade dans l’espoir d’apaiser la fureur de Népéidon, reniant toutes ses croyances au profit de la foi unique et jurant allégeance à Dista Arvagna avant de périr. Sa lettre d’adieux à son fils l’exhorte à l’imiter.</p>
<p>Nouveau duc de Sorgone, Quopras comprend que cette catastrophe risque d’annuler son mariage avec Giorda, dont la dot est plus que jamais nécessaire pour reconstruire son duché sinistré. Alors, pour s’assurer qu’elle ne pourra épouser personne d’autre, il la viole dans son bureau. Forbon Dépinant le surprend, mais le mal est fait&nbsp;: pour ne pas ruiner la réputation de Giorda, il décide de garder le silence.</p>
<p>Anéantie, Giorda doit désormais faire face à la mort de son frère, mais alors qu’elle s’attend à ce qu’on lui présente son corps inerte, elle découvre Dorio blessé mais encore en vie. Incapable de lui révéler le crime de Quopras, elle lui cache l’étendue de sa peine.</p>
<p>Une fois remis, Dorio retrouve le roi seul à seul. Estimant que le raz-de-marée est un signe des dieux, Rehard lui annonce vouloir annuler les fiançailles précédemment conclues et prendre Giorda pour épouse au printemps, tout en mariant Catessia à Visars et Dorio à Dalirie, la jeune sœur de Quopras, afin d’unir les quatre duchés. Il intime à Dorio de garder le secret le temps d’officialiser ce projet pendant que tous se concentrent sur la reconstruction de Sorgone, à laquelle il lui ordonne de participer financièrement. Lorsque Dorio refuse, Rehard lui révèle qu’il sait que la dot de Giorda n’a pas coulé avec son navire, contrairement à ce qu’il prétend, et qu’elle n’a jamais quitté Corance. Pris au piège par ce secret compromettant, Dorio n’a d’autre choix que de capituler.</p>
<p>À deux mois de grossesse, Idissa accoste à Caradesse, cité de l’est de l’Arcavie où vit son cousin Jaybis Pondarque, le fils de sa tante Merria. Dette dernière compte sur lui pour cacher la condition d’Idissa jusqu’à l’accouchement puisque, marié à la fille unique du comte local, Gorcrate Jostiral, il réside dans le château de <span class="pseudo-link" data-js="popin" data-popin="caradesse">Caradesse</span> et a les moyens d’entretenir sa cousine. Gorcrate accueille donc Idissa et l’alerte sur les dangers qui la menacent en Arcavie, où sa foi en la Famille Originelle l’expose au courroux des Népéis. En échange de sa protection, il exige qu’elle s’offre à lui et la viole.</p>
<p>À l’ouest, à Honterra, Dista s’entraîne avec Kornin. Si elle peine à maîtriser les techniques rubisiennes, elle se révèle en revanche particulièrement douée pour la lutte à la scorvégienne, que sa mère lui a enseignée étant enfant. Hélas, elle sait qu’elle ne peut l’utiliser dans le cadre d’une bataille rangée, où son style de combat la ferait passer pour une étrangère indigne de porter la couronne rubisienne.</p>
<p>Lorsqu’elle apprend qu’un raz-de-marée a ravagé Sorgone, confirmant certaines prédictions des Népéis, elle décide de se convertir et se fait baptiser devant les exilés rubisiens de Honterra.</p>
<p>À Bogdar, Aron, redevenu un fugitif, échappe aux gardes de Seliman et trouve le mystérieux expéditeur de la lettre reçue au palais du sultan&nbsp;: Ayezid dit le Scarabée, un corsaire auquel Bargald avait fait parvenir des documents compromettants au cas où quelque chose lui arriverait. Aron découvre alors ce que Bargald avait appris la nuit de la mort de Todvis&nbsp;: ce dernier voulait lui offrir la main de sa fille Dista, faisant d’Aron le futur roi régent de Rubisie. Décidé à accomplir les desseins du défunt monarque, Aron s’engage dans l’équipage d’Ayezid afin de gagner l’Arcavie, où il espère conclure une alliance avec la reine exilée.</p>