<small class="chapter-date">An 1311 après l’Engloutissement</small>

<p>Lors du banquet nuptial de son cousin Millas&nbsp;IV, le roi d’<span class="pseudo-link" data-js="popin" data-popin="arcavie">Arcavie</span>, qui vient d’épouser Eilanna Hosbourg pour apaiser les tensions politiques avec l’est du royaume, Dista Arvagna apprend que le palais de <span class="pseudo-link" data-js="popin" data-popin="virda">Virda</span> a été attaqué par ses sympathisants à l’instigation de Quopras Moronard, le duc de <span class="pseudo-link" data-js="popin" data-popin="region-sorgone">Sorgone</span>, et que l’Usurpateur, Rehard&nbsp;I<sup>er</sup>, est porté disparu.</p>
<p>Sur la demande de Quopras, Dista rend visite à Nésard, son serviteur qui lui avait transmis ses intentions, et lui annonce qu’il doit mourir pour protéger le secret de son maître, infiltré auprès de ses ennemis. Alors qu’elle s’apprête à ordonner à Kornin Vanderic, son chevalier, de l’assassiner, Nésard se suicide lui-même dans sa geôle.</p>
<p>Hélas, Dista ne peut pas profiter du chaos à Virda pour reprendre la cité, faute d’alliés prêts à soutenir une attaque éclair. En Arcavie, les Hosbourg attendent ses noces avec Oberic Hosbourg pour guerroyer à ses côtés, et elle refuse de s’unir à eux pour ne pas placer un étranger sur le trône.</p>
<p>Si elle avait accepté la demande d’Oberic pour permettre à Millas d’épouser Eilanna, condition posée par son père, Urvil Hosbourg, comte de <span class="pseudo-link" data-js="popin" data-popin="brivage">Brivage</span>, elle manœuvre désormais pour se soustraire à cet arrangement dont elle ne veut pas.</p>
<p>Elle feint d’entretenir une liaison avec son chevalier, Kornin Vanderic, pour pousser les Hosbourg à rompre eux-mêmes les fiançailles afin de préserver leur honneur, sans risquer qu’ils l’accusent de les avoir conclues sans intention de mariage sincère, ce qui la priverait du soutien de l’est de l’Arcavie.</p>
<p>Ce stratagème ne plaît ni à sa famille, ni à ses conseillers, et encore moins à Aron Carmidor, emprisonné pour sa propre sécurité, qui menace de refuser de l’épouser si cette comédie entache sa réputation.</p>
<p>Cyrul Pondarque, le cousin des enfants Carmidor, met à sac un monastère de Frères d’Écume et enlève son neveu, Kivan Jostiral, amputé au poignet suite aux sévices infligés par le Grand-Prêtre de <span class="pseudo-link" data-js="popin" data-popin="caradesse">Caradesse</span>, Fraësco, pour l’emmener à <span class="pseudo-link" data-js="popin" data-popin="naudele">Naudèle</span>.</p>
<p>La tension monte entre les Hosbourg et Aron, qu’ils accusent d’être responsable de l’attentat du monastère d’Eaux-Vives, car l’assassinat de Jaybis Pondarque a poussé les Naudèlois à attaquer la fraternité d’Écume pour le venger.</p>
<p>Fraësco, à cause de qui la localisation de Kivan Jostiral a fuité, est châtié pour cette erreur qui a provoqué la mort de nombre de religieux innocents. Son genou a été brisé, l’obligeant à se déplacer en chaise roulante.</p>
<p>Haogas, le Grand-Prêtre d’<span class="pseudo-link" data-js="popin" data-popin="erinthe">Érinthe</span>, reçoit une vision de Népéidon qui lui révèle qu’Aron est Son élu, et décide d’organiser des jeux dans le théâtre de Caradesse pour lui permettre de gagner ce titre devant le peuple, afin qu’il puisse épouser Dista malgré ses fiançailles avec Oberic, sous couvert d’une ordalie destinée à évaluer sa culpabilité pour trahison envers la souveraine.</p>
<p>Les Hosbourg acceptent, persuadés qu’il mourra dans l’arène.</p>
<p>Aron est baptisé en même temps que Kornin lors d’une messe privée, dont le peuple a été exclu pour convaincre les Hosbourg que les Népéis n’utilisent pas la ferveur populaire pour ériger Aron en héros.</p>
<p>En raison de la gravité des charges qui pèsent contre lui, pour qu’il expie ses fautes et pour prouver la sincérité de sa démarche, Haogas le scarifie et dessine le symbole des Népéis, une népyrme enroulée autour d’un trident, dans son dos, à l’instar de tous les religieux de son ordre. Ce faisant, il le place sous leur protection.</p>
<p>En <span class="pseudo-link" data-js="popin" data-popin="rubisie">Rubisie</span>, Giorda, Visars Virdemis et les Rhodives se sont réfugiés à <span class="pseudo-link" data-js="popin" data-popin="nurat">Nurat</span>, dans le fort de la maison Ilverny, à une journée de cheval à l’est de Virda. Alors qu’elle attend désespérément des nouvelles de Rehard, introuvable, ses règles surviennent, ce qui anéantit l’espoir d’une grossesse qui aurait sécurisé sa position de reine, laquelle ne tient plus qu’à la potentielle survie de son mari.</p>
<p>La capitale est aux mains des Martres, un groupe de roturiers rebelles et de soldats félons, adeptes du népéisme, qui clament soutenir Dista Arvagna. La peste ravage tous les quartiers.</p>
<p>Quand Lods Rhodives, le duc de <span class="pseudo-link" data-js="popin" data-popin="region-goragna">Goragna</span> et président du Conseil des Trois, et les Ilverny s’interrogent sur la façon dont les Martres ont réussi à infiltrer le palais, Lods émet l’hypothèse qu’ils se soient mêlés aux domestiques.</p>
<p>Giorda fait le lien avec l’assassinat de son père, plusieurs mois plus tôt, par un échanson qui avait employé le même stratagème, et comprend que Lods Rhodives en était l’instigateur. Seule et isolée à Nurat, elle ne peut prendre le risque d’emprisonner le duc alors que le royaume est au bord du chaos, et tait cette révélation.</p>
<p>Elle envisage de s’allier à Quopras Moronard, son ex-fiancé, lorsqu’il les rejoint à Nurat, mais ses propos et sa capture de Boyon Prandis, le général des armées, qu’il accuse d’avoir fomenté l’attentat du palais, lui ouvrent les yeux sur son implication&nbsp;: il est l’auteur de ce massacre et a prêté allégeance à Dista Arvagna.</p>
<p>Hélas, liée à lui par le secret du viol qu’il lui a infligé à <span class="pseudo-link" data-js="popin" data-popin="sorgone">Sorgone</span> plusieurs mois auparavant, qui empêchait son mariage avec Rehard, et par sa connaissance de sa conversion au népéisme qui la rend complice d’hérésie, Giorda est contrainte au silence.</p>
<p>Elle trouve un flacon de cantarelline, le poison qui avait permis à Quopras d’empoisonner son second, quand elle fouille son appartement. Quopras la surprend et lui révèle que s’il meurt, les secrets compromettants de Giorda seront propagés dans tout le royaume.</p>
<p>Piégée mais forcée d’agir pour l’empêcher de nuire à son camp, elle se résout à avouer à Visars, alité suite à l’amputation sommaire de sa main, les crimes de Quopras.</p>
<p>Visars se range aux côtés de Giorda. Il décide de faire semblant d’ignorer que Quopras est l’espion de Dista afin de l’utiliser contre elle au moment propice.</p>
<p>Visars compte sur Giorda pour récolter des informations sur ses plans, certain que Quopras ne manquera pas de s’en vanter auprès d’elle, et projette de nier en bloc le fait que Giorda n’était plus vierge lors de sa nuit de noces le jour où ils l’arrêteront&nbsp;: les accusations d’un traître ne pèseront rien contre la version du chancelier et de la reine.</p>
<p>Pour endormir la méfiance de Quopras, Visars et Giorda continuent de feindre la désunion en public, et condamnent Boyon Prandis, innocent, à sa place.</p>
<p>Après un jugement expéditif, malgré le soutien manifeste des soldats, Boyon est décapité.</p>
<p>Grièvement blessé, Rehard gagne Nurat avec Forbon Dépinant, gravement brûlé au visage, Herri Dignol, le capitaine de la garde royale, et Zahari, un médecin apôtre de Figris qui les a soignés. Il a malheureusement dû amputer Rehard sous le coude droit, et doit amputer sa cheville gauche à son arrivée dans le fort.</p>
<p>Quelques jours plus tard, Zahari annonce à Giorda et Rehard que ce dernier ne pourra probablement jamais engendrer de descendance. En outre, sa jambe droite a gangréné et nécessite elle aussi une amputation. Rehard réclame alors à Giorda qu’elle le laisse mourir plutôt que d’autoriser qu’on lui coupe un nouveau membre.</p>
<p>Dévastée, elle accepte, accablée par son souhait de l’abandonner au lieu de se battre pour vivre. À sa demande, elle l’empoisonne avec la cantarelline qu’elle a dérobée à Quopras. Rehard périt prétendument de la gangrène.</p>
<p>Zahari devine qu’elle l’a aidé à mourir et comprend son geste. Giorda l’engage à son service pour qu’il lui confectionne des poisons.</p>
<p>Alors qu’elle veille la dépouille de son mari avec Visars, nouveau roi de Rubisie, elle annonce à ce dernier qu’elle sait que Lods Rhodives a fomenté l’assassinat de Bargald Carmidor. Elle réclame son éviction, ainsi que celle de sa fille, Catessia, actuelle femme de Visars, afin qu’elle puisse l’épouser et demeurer reine. En contrepartie, elle promet qu’elle ne révèlera pas la félonie de Lods, ce qui évitera que <span class="pseudo-link" data-js="popin" data-popin="region-corance">Corance</span> entre en guerre contre Goragna pour venger son ancien duc. Visars accepte ce marché.</p>
<p>Dorio Carmidor et sa femme, Dalirie, arrivent à <span class="pseudo-link" data-js="popin" data-popin="cavar">Cavar</span>, où ils l’attentat de Virda et la mort de Rehard. Malgré ces nouvelles terribles, la lettre de Giorda les incite à poursuivre leur but initial&nbsp;: retrouver Idissa, qui a trahi les Jostiral en les livrant aux Népéis pour sauver Aron.</p>
<p>Le duc de Corance découvre qu’il n’est pas le seul à vouloir mettre la main sur Idissa&nbsp;: son cousin, Cyrul Pondarque, rôde à Cavar en quête d’informations sur sa localisation.</p>
<p>Dorio rencontre Wédégonde, la Grande-Prêtresse de Virvina, à la tête du sanctuaire dans lequel Idissa a accouché. Elle lui révèle qu’outre les Pondarque, des Népéis la recherchent et qu’une lettre de leur frère Aron, arrivée juste après sa fuite de Cavar, lui intimait de les suivre en Arcavie pour se préserver des représailles des Pondarque, désireux de lui faire payer la mort de Jaybis.</p>
<p>Dorio retrouve Idissa dans un petit village, <span class="pseudo-link" data-js="popin" data-popin="varillac">Varillac</span>, en compagnie de sa femme de chambre, Luzette, de son garde, Wellis, et sa fille, Dessia. Il la poursuit, la capture et la contraint à abandonner Dessia, qui sera élevée loin d’elle pour la protéger des Pondarque, afin qu’elle épouse le sultan du <span class="pseudo-link" data-js="popin" data-popin="sarouha">Sarouha</span>, Seliman Al-Beymir, conformément aux plans de Giorda. Obligée de céder, Idissa dit adieu à Dessia.</p>
<p>Leur convoi pour Nurat est intercepté par Cyrul Pondarque, puis par les Frères de Fer, les Népéis envoyés par Aron au secours d’Idissa. Une bataille s’ensuit.</p>
<p>Idissa découvre que Dalirie s’est convertie au népéisme. Lorsque l’un des Arcaviens la menace, elle s’interpose toutefois pour la sauver, ce qui permet aux Coranciens d’anéantir les derniers Népéis. À la demande d’Idissa, ils n’épargnent Jorry-Sel, le Frère de Sel qui l’avait escortée jusqu’à Cavar, afin qu’il annonce à ses pairs qu’elle a refusé l’aide d’Aron.</p>
<p>Cyrul accepte de regagner Corance et de laisser Idissa aux mains de Dorio, convaincu qu’elle paie pour ses crimes en survivant à Dessia, qu’il croit morte à la naissance.</p>
<p>Lors du bûcher de Rehard, Giorda rencontre Némétria Al-Mehet, sa sœur, lui présente ses condoléances pour son mari, Seghad Al-Mehet, exécuté par le sultan. Giorda comprend que si les Virdemis ont tenu Némétria à l’écart de la cour, c’est parce qu’elle s’est convertie à l’arrjahnisme quand elle vivait à <span class="pseudo-link" data-js="popin" data-popin="mavas">Mavas</span>.</p>
<p>Némétria réprouve le fait que son frère soit incinéré dans le duché de Goragna, mais Visars lui rappelle que la région autour de Virda appartient à nouveau à <span class="pseudo-link" data-js="popin" data-popin="region-lorsis">Lorsis</span>. En effet, le sort de la Virdanie demeure en suspens depuis la chute des Arvagna, mais les Virdemis considèrent désormais cette région comme la leur, certains que les Rhodives ne la leur disputeront pas, puisqu’ils leur doivent leur élévation.</p>
<p>Giorda rencontre le baron de <span class="pseudo-link" data-js="popin" data-popin="tervelie">Tervélie</span>, Yorin Vanderic, le père de Kornin, le chevalier balafré au service de Dista Arvagna, ainsi qu’Onel Daguerrin, le nouveau général des armées royales, non pas nommé par Visars, mais élu par les soldats afin d’apaiser leur ressentiment né de l’exécution de son prédécesseur.</p>
<p>Giorda présente également ses condoléances pour Janéa aux Arganza. Idrin, son frère, semble la trouver à son goût, et Scorpia, sa mère, lui révèle qu’elles partagent un lien de parenté du côté de Sollisa Carmidor, issue de la famille Drovars.</p>
<p>Forbon Dépinant, un baron lorsisain proche de Giorda, lui réclame son soutien pour demeurer au Conseil des Trois lorsque Visars en nommera les nouveaux membres. Elle feint de ne pas pouvoir défendre sa candidature auprès de Visars en arguant de leur inimitié notoire.</p>
<p>Toutefois, elle lui demande de voter en faveur de son projet d’unification du droit rubisien, le Bréviaire de Rehard, sur lequel travaillent des juristes à sa solde. Si le roi croit qu’elle défend ce projet pour rendre hommage à Rehard dont c’était la volonté, Giorda le fait en réalité parce qu’il lui donne l’occasion d’exhumer une loi de légitimation des bâtards, laquelle permettra à Idissa de devenir une fille légitime, digne d’épouser le sultan et d’assurer aux Carmidor une alliance avec le Sarouha.</p>
<p>Lorsque le premier pan du Bréviaire, portant sur la filiation et contenant la loi de légitimation, est achevé par ses juristes, Giorda obtient de Visars qu’il le présente au Conseil pour approbation. Le texte est adopté sans difficulté.</p>
<p>Visars et Giorda réceptionnent à l’extérieur de Nurat, de nuit, une partie de sa dot, le reste voguant sur la Dramonne, dans trois gabarres supposées accoster à Virda au milieu du mois de juillet. Les coffres du convoi terrestre protégés par des soldats coranciens aux ordres d’un certain Béramon, fidèle aux Carmidor, sont remisés au sous-sol de la chapelle des Ilverny. Giorda et Visars découvrent à cette occasion que Quopras les avait suivis pour les espionner.</p>
<p>Visars maintient Forbon Dépinant au Conseil, lui adjoint Sylcio Girénord, le baron de <span class="pseudo-link" data-js="popin" data-popin="tourege">Tourège</span>, comme deuxième conseiller, et nomme Claos Ilverny, le baron de Nurat, président du Conseil des Trois. </p>
<p>Alors que Lods Rhodives s’attend à devenir chancelier, Visars choisit Yorin Vanderic, Sorgonète mais d’origine gorandine par sa mère, et le fait duc de Goragna à sa place.</p>
<p>Le roi fait ensuite arrêter la reine Catessia, pour lui avoir menti sur sa virginité au jour de leur mariage, ainsi que Lods, pour avoir couvert le mensonge de sa fille. Ce motif fallacieux lui évite d’accuser Lods du meurtre de Bargald, et justifie l’éviction de Catessia.</p>
<p>Giorda convainc Catessia de renoncer à son titre de reine et à prendre le voile, afin de sauver sa vie et celle de son père, condamné à l’exil.</p>
<p>Cependant, lorsque Catessia et Lods quittent Nurat, en disgrâce, des Coranciens masqués aux ordres de Béramon attaquent leur coche. Sous les yeux de Catessia, ils assassinent Lods en lui faisant revivre les sévices subis par Bargald Carmidor.</p>
<p>Dorio, Dalirie et Idissa arrivent à Nurat. Dorio veut combattre auprès des armées royales pour reconquérir Virda, ce qui lui permet de retarder le moment fatidique où il devra affronter sa peur de l’océan pour regagner Corance. Parmi les courtisans réunis dans le fort, Idissa aperçoit Orgon Achard, son ex-amant qui avait refusé de l’épouser et père, à son insu, de Dessia.</p>
<p>Malgré sa colère contre Giorda et Dorio qui lui ont retiré sa fille, Idissa tient à prouver à la cour qui méprise son statut de bâtarde et aux Achard qui l’ont rejetée qu’elle est digne du nom de Carmidor. Elle accepte de se plier au plan de Giorda pour épouser le sultan.</p>
<p>En échange, Giorda lui promet qu’une fois la guerre contre Dista Arvagna remportée, elle trouvera un moyen de lui rendre sa fille.</p>
<p>Alors qu’Idissa lui révèle que Gorcrate Jostiral l’a violée, elle comprend que Giorda a subi le même crime qu’elle. Néanmoins, Giorda refuse de lui en dire plus.</p>
<p>Lors d’un banquet, Dorio révèle à la cour que Dalirie est enceinte de leur premier enfant. Visars annonce ensuite qu’il épousera Giorda dans les jours à venir, grâce à une dispense du Grand-Prêtre d’Ordéon, Gaëlord, retranché dans le temple à Virda, qui autorise la jeune femme à raccourcir sa période de veuvage et à se marier à un membre de la famille de son défunt époux.</p>
<p>Enfin, Giorda proclame devant la cour que Visars a accepté, en cadeau de mariage, de légitimer sa demi-sœur Idissa en application de la loi contenue dans le premier pan récemment adopté du Bréviaire de Rehard.</p>
<p>Piégé par cette annonce en grande pompe qui l’empêche de nier sans reconnaître devant ses sujets que sa future femme l’a manipulé, Visars est obligé de céder à cette demande qui, si elle confère un avantage stratégique considérable aux Carmidor, sert également ses intérêts dans la guerre contre Dista Arvagna.</p>
<p>Visars apprend enfin que Giorda a fait assassiner Lods Rhodives loin des regards.</p>
<p>Désormais qu’Idissa a été légitimée, Orgon Achard la sollicite pour qu’elle accepte de l’épouser, en dépit de son propre refus, un an plus tôt, lorsque Aron le lui avait proposé. Idissa l’éconduit.</p>
<p>Orgon et son père, Nadros Achard, le baron de <span class="pseudo-link" data-js="popin" data-popin="jaramis">Jaramis</span>, réclament alors une audience à Giorda et Dorio, et les menacent, s’ils refusent de leur accorder la main d’Idissa, d’ébruiter le fait qu’elle n’est plus vierge, ce qui compromettrait ses noces hypothétiques avec le sultan, sa réputation ainsi que celle de Giorda.</p>
<p>Dorio et Giorda refusent à leur tour en leur rappelant qu’en l’absence de preuves, leurs propos relèvent de l’outrage et qu’ils seraient en droit de les châtier pour cela.</p>
<p>Giorda épouse Visars et redevient reine. Hélas, lors de leur nuit de noces, Visars lui apprend qu’il est asexuel et ne pourra pas consommer leur union, ce qui explique pourquoi il n’avait pas eu de relations intimes avec Catessia.</p>
<p>Afin d’assurer une descendance capable de lui succéder, Visars propose à Giorda de fréquenter le lit d’Idrin Arganza, un vassal loyal apparenté aux Virdemis. Leurs enfants passeraient ainsi pour légitimes. Giorda a beau répugner à l’idée d’engendrer des bâtards, elle n’a d’autre choix que d’accepter ce compromis.</p>
<p>Dista et Aron arrivent à Érinthe et logent dans le château autrefois occupé par les Jostiral, remplacés par leurs anciens vassaux, les Mirbel, des fidèles népéistes.</p>
<p>Aron a appris qu’Idissa avait rejeté l’aide des Frères d’Écume et s’était rangée dans le camp de Giorda, et il croit Dessia décédée à la naissance. Il révèle à Dista que c’était pour venger Idissa, violée par Gorcrate Jostiral dans l’indifférence de Jaybis Pondarque, qu’il a tué ce dernier.</p>
<p>Guidés par Haogas, Dista et Aron visitent le Clos des caravelles, le chantier naval d’Érinthe, où les Népéis supervisent la construction d’une large flotte destinée à affronter celles des Carmidor et des Virdemis, afin de leur permettre de reprendre Corance et sa banque.</p>
<p>Hélas, en raison de l’alliance potentielle de leurs ennemis avec le Sarouha, qui dispose de puissants navires de guerre, Aron craint que cette flotte ne suffise pas à reconquérir la Rubisie. Il préconise d’en bâtir une deuxième, à Angève, pour s’emparer des duchés rubisiens par l’ouest.</p>
<p>Lors de la visite du Clos, Haogas s’entretient avec le laniste du théâtre de Népéidon.</p>
<p>Aron affronte les gladiateurs dans l’arène lors des premiers jeux donnés depuis des décennies, organisés en mémoire des Frères d’Écume massacrés à Eaux-Vives. Les survivants seront déclarés innocents des crimes dont ils sont accusés. Il s’allie à un rétiaire, Anthéon, pour repousser les autres compétiteurs.</p>
<p>Aron parvient à trouver la clé qui ouvre le coffre contenant le trident à saisir pour mettre fin aux jeux, mais le rétiaire jette le coffre dans l’océan. Aron manque de se noyer en plongeant, entravé par le filet d’Anthéon, et un mirmillon menace de lui dérober le trident au fond de l’eau, mais Braiserine, la népyrme rencontrée au large d’Érinthe lors du naufrage de la <em>Cibellia</em>, surgit pour le protéger.</p>
<p>Aron remonte à la surface sur la népyrme et brandit le trident sous les yeux de la foule, ébahie par la vue de la créature, et remporte les jeux. Il est proclamé héros de Népéidon sous les vivats. Haogas le marie à Dista sans attendre.</p>
<p>Au cours du banquet nuptial, Aron découvre en interrogeant Fraësco que Haogas l’a persuadé d’envoyer Braiserine à son secours dans l’arène afin d’appuyer sa légitimité comme héros de Népéidon. Ce stratagème permettait de convaincre le peuple estalien afin qu’il réclame son mariage avec Dista, malgré ses fiançailles à un puissant seigneur de l’est de l’Arcavie.</p>
<p>Aron comprend également qu’Anthéon était de mèche avec les Népéis, et qu’il a orchestré ses retrouvailles avec Braiserine en le jetant à l’eau.</p>
<p>Ivre et enragé par ce mariage, Oberic Hosbourg interrompt le banquet et exige un entretien privé avec Dista. Il l’accuse de lui avoir menti sur ses intentions et estime que les jeux n’étaient qu’une machination pour manipuler les foules. Il annonce qu’il influencera la Chambre des Comtes afin qu’elle refuse à Dista d’envoyer les armées arcaviennes en Rubisie.</p>
<p>Haogas le menace alors de révéler au roi Millas sa tentative d’assassinat contre Aron. Oberic avait en effet soudoyé Anthéon, qui était en réalité un Frère de Fer utilisé comme appât pour l’inciter à se compromettre, et lui avait procuré du poison pour tuer Aron d’une simple coupure.</p>
<p>Afin d’éviter un procès pour tentative de meurtre et de tricherie lors d’une ordalie, Oberic courbe l’échine devant Dista et Aron, et jure de leur obéir.</p>
<p>Aron et Dista renoncent à consommer leurs noces le soir même, car cette dernière ne s’y sent pas encore prête. Aron tache le drap nuptial de son propre sang pour feindre qu’elle a perdu sa virginité.</p>
<p>Alors qu’ils approchent de Virda, Visars et ses troupes découvrent que les Martres ont empalé les prêtres d’Ordéon dans un champ avec les apôtres de Figris et de Valkyda. Gaëlord, le Grand-Prêtre, fait partie des victimes.</p>
<p>Son état de décomposition avancé confirme à Visars qu’ils ont été tués bien avant que le prélat accorde une dispense pour son mariage avec Giorda. Le roi et ses alliés comprennent alors que les Martres ont falsifié le courrier et les ont manipulés.</p>
<p>Tandis que les soldats enterrent les défunts, les Martres fondent sur eux en profitant de leur inattention. Le combat est sanglant et, malgré leur nette infériorité numérique qui rend leur attaque suicidaire, les Martres infligent de lourds dégâts aux armées royales, privées de leurs puissants canons.</p>
<p>Agris Moronard est tué sous les yeux de Quopras. Dorio parvient à faire exploser la poudre noire pour achever les hordes ennemies.</p>
<p>Les armées royales arrivent devant les fortifications de Virda, où nul ne les arrête. Dorio, Quopras et Onel Daguerrin, ainsi que plusieurs soldats, entrent dans la cité et découvrent qu’il s’agit d’une ville fantôme. Tous ses habitants ont péri de la peste ou de la famine.</p>
<p>Persuadées que l’épidémie était un châtiment divin envoyé par Népéidon pour distinguer les âmes fidèles des Impurs, les Martres ont interdit aux Virdans de brûler leurs morts, ce qui a décuplé la propagation de la peste dans la capitale entièrement close.</p>
<p>Dans la prison à ciel ouvert, Dorio comprend que la capitale est perdue. Animé par la terreur que le fléau népéiste se répande jusqu’à Corance, et la haine à l’encontre de ses adeptes, Dorio menace Quopras&nbsp;: il lui annonce qu’il va révéler sa conversion au roi et le traîner devant la justice pour hérésie.</p>
<p>Qu’importe le prix à payer, Dorio compte anéantir le népéisme, même si cela doit aussi sceller le sort de sa femme.</p>