<small class="chapter-date">An 1311 après l’Engloutissement</small>

<p>En l’an 1311 après l’Engloutissement, cinq mois après le raz-de-marée meurtrier qui a déferlé sur <span class="pseudo-link" data-js="popin" data-popin="region-sorgone">Sorgone</span>, le duc de <span class="pseudo-link" data-js="popin" data-popin="region-corance">Corance</span> Dorio Carmidor se remet difficilement du traumatisme subi lors de cet événement. Des chasseurs de trésors fouillent la baie de <span class="pseudo-link" data-js="popin" data-popin="sorgone">Sorgone</span> dans l’espoir de retrouver la dot colossale de sa sœur, qui aurait coulé avec l’<em>Évéria</em>, son navire amiral, sans savoir qu’il s’agit d’un mensonge et qu’en réalité, l’or de Giorda n’a jamais quitté Corance, leur île.</p>
<p>Dorio reçoit un message d’un chasseur de prime, Forel, qui a découvert la supercherie en ouvrant des coffres remplis de terre dans les entrailles du navire. Forel veut le faire chanter en échange de son silence sur cette trahison envers les Moronard, qui auraient dû percevoir l’intégralité de la dot avant le mariage de Quopras et Giorda, interrompu par le raz-de-marée. Pour s’assurer que Forel ne parle jamais, Dorio l’empoisonne avec tous ses sbires.</p>
<p>Avec l’arrivée du printemps, Giorda se prépare à épouser Quopras Moronard, devenu duc de Sorgone après le suicide de son père, Hagold. Écrasée par la honte et le dégoût après le viol qu’il lui a infligé, elle peine à garder la tête hors de l’eau et se résigne à son sort.</p>
<p>Quopras se réjouit de ce mariage imminent, promis par le roi Rehard Virdemis, sans savoir que ce dernier compte épouser Giorda lui-même et unir Dalirie Moronard, la jeune sœur de Quopras, à Dorio Carmidor. Certain d’avoir gagné, Quopras empoisonne l’ancien second de son père, Zaetril, qui l’espionnait pour le compte des Virdemis, avec de la cantarelline.</p>
<p>Les Moronard se sont convertis au népéisme et assistent à des messes clandestines dans les quartiers pauvres de leur cité. Hélas, des pestiférés font irruption en pleine célébration. Dans la panique, Quopras les enferme dans le bâtiment avant de les brûler vifs pour endiguer la propagation de la maladie.</p>
<p>Choquée par le geste de son frère, Dalirie échappe à la vigilance de leur mère, Arhinia, et s’enfuit dans les ruelles de Sorgone en pleine nuit. Elle tombe sur Dorio, qui la ramène en sécurité au palais Moronard. Peu surpris de la trouver là puisqu’il sait que les Moronard se sont convertis au népéisme, il ne nie pas lorsque Dalirie lui fait remarquer qu’il ne semble plus avoir besoin de sa canne. Il lui avoue qu’il la garde pour feindre d’être encore blessé au genou, ce qui lui évite de devoir justifier pourquoi il refuse de naviguer, la vérité étant que l’océan le terrifie désormais. Les deux nobles se rapprochent et, conformément au plan du roi, Dorio demande Dalirie en mariage.</p>
<p>Au <span class="pseudo-link" data-js="popin" data-popin="sarouha">Sarouha</span>, Aron Carmidor, exilé après s’être rebellé contre le roi Rehard, prépare sa traversée jusqu’en <span class="pseudo-link" data-js="popin" data-popin="arcavie">Arcavie</span> où se trouve Dista Arvagna, qu’il souhaite rallier et épouser pour reprendre Corance, se venger de Dorio et Giorda, et anéantir les Virdemis. Avec l’équipage d’Ayezid le Scarabée, un pirate bogdari, il infiltre le riad de l’émir de <span class="pseudo-link" data-js="popin" data-popin="mavas">Mavas</span>, Seghad Al-Beymir, pour lui dérober de quoi financer les réparations de leur dromon, la <em>Cibellia</em>.</p>
<p>L’émir accusé d’avoir volé le sultan, Seliman, est en réalité l’instigateur de leur opération&nbsp;: en échange de son or, il exige de l’équipage qu’il ramène sa femme à <span class="pseudo-link" data-js="popin" data-popin="lorsis">Lorsis</span>. En effet, il a épousé Némétria Virdemis, la sœur de Rehard, que leur oncle Visars, le duc de <span class="pseudo-link" data-js="popin" data-popin="region-lorsis">Lorsis</span> et chancelier de <span class="pseudo-link" data-js="popin" data-popin="rubisie">Rubisie</span>, désire désormais marier au fils de Seliman, ce qui implique de se débarrasser de Seghad.</p>
<p>Profondément éprise de son époux, Némétria espère que sa fuite anéantira ce projet et permettra à Seghad de survivre aux machinations de son oncle et du sultan. Persuadé qu’elle ignore son identité, Aron accepte de voguer avec elle jusqu’à Lorsis.</p>
<p>Lorsque la <em>Cibellia</em> entre dans le port de Lorsis et que Némétria est accueillie par son cousin, Habel Arganza, elle livre Aron aux soldats des Virdemis dans l’espoir que ce tribut l’aidera à négocier la protection de son mari auprès de Rehard.</p>
<p>Loyal à Aron, Ayezid décide de fuir Lorsis. La <em>Cibellia</em> est prise en chasse par un galion, l’<em>Argan</em>, et une caraque, l’<em>Irenia</em>. Aron se voit déjà canonné jusqu’à couler au fond de l’océan quand soudain, une népyrme, le légendaire serpent de mer, s’attaque à l’<em>Argan</em> et le réduit en charpie. La <em>Cibellia</em> parvient à fuir tandis que l’<em>Argan</em> sombre dans l’océan Estalien.</p>
<p>À <span class="pseudo-link" data-js="popin" data-popin="honterra">Honterra</span>, petite ville frontalière à l’ouest de l’Arcavie, Dista se complait dans sa proximité avec les exilés rubisiens, de plus en plus nombreux à demander le baptême népéiste afin d’imiter leur souveraine. En dépit des réserves de Cistote Virmain sur sa nouvelle foi, Dista maintient son choix et promet de protéger la liberté de religion dans son royaume.</p>
<p>Alors qu’elle se rend sur les stèles funéraires érigées en l’honneur de ses parents et de son demi-frère, Tornos, Dista découvre que l’une des réfugiées, Linor, est en réalité Illinor Octambre, la mère de ce dernier, avec laquelle Todvis trompait Morgat, sa propre mère. Elle révèle à Dista que Morgat avait tenté d’assassiner Tornos quand il était nourrisson, lui causant les séquelles mentales qui expliquaient son caractère étrange. Morgat avait ensuite attribué l’état de l’enfant à une négligence d’Illinor, et Todvis l’avait bannie de la cour. Depuis, elle errait à <span class="pseudo-link" data-js="popin" data-popin="goragna">Goragna</span> dans l’espoir d’apercevoir Tornos, avant que la guerre menée par les Virdemis provoque sa mort.</p>
<p>Sous prétexte de bénir la construction d’un temple, le Grand-Prêtre d’<span class="pseudo-link" data-js="popin" data-popin="erinthe">Érinthe</span>, Haogas, rejoint Dista à Honterra pour la presser de retourner auprès de son cousin, le roi Millas IV d’Arcavie, dans la capitale arcavienne, où il a besoin de son soutien. Contrainte de céder pour ne pas inciter le souverain à revoir sa générosité à l’égard de ses sujets réfugiés à Honterra, Dista obéit.</p>
<p>À Sorgone, la peste se propage et le népéisme se répand. Des voix s’élèvent pour accuser les Carmidor, ces étrangers arrivés en même temps que le raz-de-marée, de tous les maux qui affligent la cité. Convaincus de ne plus être en sécurité, Giorda et Dorio persuadent les Moronard de quitter la ville. Les Carmidor, Quopras, Dalirie, leur mère Arhinia et Agris, leur autre frère qui vient de renoncer à l’ordre de Catovis pour se vouer au culte de Népéidon avec le reste de sa famille, partent donc pour <span class="pseudo-link" data-js="popin" data-popin="virda">Virda</span>.</p>
<p>Rehard et Visars Virdemis se rendent à <span class="pseudo-link" data-js="popin" data-popin="fort-havel">Fort-Havel</span>, le fief des Arganza, pour y assister aux obsèques de Habel, leur cousin décédé dans le naufrage de l’<em>Argan</em>. Ils y retrouvent Scorpia, sa mère, Idrin et Janéa, son frère et sa sœur, et enfin Némétria, décidée à plaider la cause de son mari auprès de Rehard.</p>
<p>Malgré sa colère envers elle, qui a saboté son alliance avec le sultan, Rehard envisage d’accéder à sa demande. Hélas, lorsqu’il découvre qu’elle s’est convertie au culte d’Arrjah, le dieu unique vénéré au Sarouha, il refuse de l’aider, craignant que la rumeur de sa foi, contraire au dogme rubisien de la Famille Originelle, n’affaiblisse sa légitimité fondée sur son intolérance vis-à-vis du népéisme.</p>
<p>Némétria tente alors le tout pour le tout et menace Rehard d’ébruiter elle-même le scandale de sa conversion pour nuire à son règne s’il n’accorde pas l’asile à son mari. Pieds et poings liés, Rehard la fait emprisonner à Fort-Havel.</p>
<p>Aron accoste à <span class="pseudo-link" data-js="popin" data-popin="caradesse">Caradesse</span> avec l’équipage de la <em>Cibellia</em> et se rend chez son cousin, Jaybis Pondarque, le fils du baron de <span class="pseudo-link" data-js="popin" data-popin="naudele">Naudèle</span>, dans la demeure des Jostiral, afin de lui demander de l’introduire à la cour royale d’Arcavie auprès de Dista Arvagna.</p>
<p>S’il est ravi d’y retrouver sa demi-sœur, Idissa, malgré sa grossesse honteuse née de sa liaison avec Orgon Achard, son amant lorsisain qu’il avait chassé de Corance après que ce dernier avait décliné son offre de mariage, Aron déchante quand il comprend que les Jostiral haïssent les Népéis et, par extension, le roi Millas et Dista Arvagna. Ses hôtes le capturent avant qu’il ne puisse s’enfuir, dans l’objectif de le livrer aux Virdemis dont ils espèrent le soutien.</p>
<p>Idissa tente de convaincre Jaybis d’épargner Aron, mais il ne cède pas. Elle se résigne alors au pire&nbsp;: informer les Népéis de la séquestration d’un allié de Dista Arvagna par les Jostiral, et leur révéler qu’ils vénèrent encore les anciens dieux, ce qui les condamne à la sentence réservée aux parjures et aux Impurs. Le Grand-Prêtre de Caradesse, Fraësco, envahit leur château et libère Aron.</p>
<p>Ce dernier file au port où se mouille la <em>Cibellia</em>, alerté par Idissa qui a entendu Gorcrate Jostiral planifier le massacre de l’équipage afin d’éliminer les seuls témoins de l’arrivée d’Aron chez eux. Hélas, il arrive trop tard et assiste à l’agonie d’Ayezid.</p>
<p>Fraësco malmène Gorcrate Jostiral et Jaybis Pondarque afin d’obtenir leurs aveux. Aron découvre que Gorcrate violait Idissa et que Jaybis fermait les yeux. Hors de lui, il tue Jaybis. Fraësco se résout alors à torturer le jeune Kivan, le fils de Jaybis et Costancia Pondarque, pour obliger Gorcrate à admettre ses crimes. Il lui broie la main et récupère ainsi la confession accablante de Costancia contre sa famille. Celle-ci est ensuite enfermée dans un couvent, et Kivan, envoyé dans un monastère.</p>
<p>Aron tient sa promesse envers Ayezid et décide de couler la <em>Cibellia</em> avec son équipage. Fraësco et les Népéis l’accompagnent en haute mer à bord du <em>Divin Sel</em> et lui permettent de rencontrer deux népyrmes habituées à leur présence. Sous le choc, Aron apprend à connaître Braiserine et Ferricia, laquelle détruit la <em>Cibellia</em> sur l’ordre des Népéis.</p>
<p>À Érinthe, Dista retrouve son cousin Millas. Il lui révèle que la noblesse estalienne s’agite et qu’il craint une rébellion. Il prévoit d’épouser Eilanna Hosbourg, la fille du comte de <span class="pseudo-link" data-js="popin" data-popin="brivage">Brivage</span> auquel les Jostiral étaient loyaux, afin de préserver la paix en Arcavie.</p>
<p>Hélas, Urvil Hosbourg n’accepte de lui céder la main de sa fille qu’à la condition que son frère, Oberic, épouse Dista. Si celle-ci refuse pour ne pas donner à la Rubisie un roi consort étranger qui lui vaudrait la défiance de sa propre noblesse, elle consent cependant de se fiancer avec lui le temps que Millas épouse Eilanna, et projette de trouver un moyen de se libérer de son engagement ensuite, quitte à renoncer à l’appui de l’est de l’Arcavie lors de la reconquête de son royaume.</p>
<p>Rehard vient à la rencontre des Moronard et des Carmidor à <span class="pseudo-link" data-js="popin" data-popin="tourege">Tourège</span>, à la frontière entre les duchés de Lorsis et de <span class="pseudo-link" data-js="popin" data-popin="region-goragna">Goragna</span>, pour les accompagner jusqu’à Virda. Il demande Giorda en mariage&nbsp;: elle accepte à nouveau de devenir reine. Elle menace Quopras de révéler sa conversion au népéisme si d’aventure il ébruitait qu’elle n’était plus vierge. Le roi lui propose en échange sa cousine, Janéa Arganza, comme future épouse.</p>
<p>Lorsqu’ils entrent dans Virda, ils découvrent que la population a déserté les rues, tapie dans les maisons par peur de la peste qui se répand au sud. Des symboles népéistes ornent les murs. Ils apprennent pendant un Conseil qu’au Sarouha, les trois fils du sultan ont été assassinés&nbsp;: offrir une nouvelle épouse capable de lui donner un héritier mâle devient un enjeu majeur. Le mari de Némétria, Seghad, a été exécuté.</p>
<p>Après le mariage de Visars Virdemis et de Catessia Rhodives, la fille du duc de Goragna et l’ex-maîtresse de Rehard, Dorio épouse Dalirie. Ils consomment leur union, mais Dorio s’interroge sur l’absence de sang virginal sur leurs draps.</p>
<p>Aron et Fraësco traversent les Vardes pour rejoindre Érinthe avec Gorcrate Jostiral, désormais leur prisonnier. Des inconnus tentent de le faire évader à <span class="pseudo-link" data-js="popin" data-popin="ispin">Ispin</span>, mais Aron les surprend et ils fuient. Aron et Fraësco comprennent qu’il s’agissait d’assassins envoyés de Millas, qui voulait éliminer le comte sans procès plutôt que de le condamner publiquement, ce qui lui vaudrait les foudres des autres nobles estaliens. Aron exécute alors Gorcrate afin de s’assurer qu’il n’échappera pas à la justice.</p>
<p>À Érinthe, un certain Nésard approche Dista et lui confie un message de la part de Quopras Moronard&nbsp;: il souhaite soutenir sa reconquête et lui prouver sa loyauté en transformant le mariage de Rehard en bain de sang.</p>
<p>Fraësco et Aron sont introduits à la cour de Millas, où ils se présentent à Dista. Aron ploie le genou devant elle et la demande en mariage, mais fiancée à Oberic Hosbourg, elle refuse et l’emprisonne pour sa propre protection. Toutefois, elle comprend qu’il est l’élu de Népéidon prophétisé par Haogas, avant de réaliser qu’il ne s’agissait que d’une manipulation. Elle lui révèle à l’abri des oreilles indiscrètes qu’elle compte annuler ses fiançailles, et promet de l’épouser afin qu’ensemble, ils reprennent Corance et la Rubisie.</p>
<p>Avec sa servante Luzette, Idissa atteint le temple de Virvina à <span class="pseudo-link" data-js="popin" data-popin="cavar">Cavar</span>, au nord du duché de Lorsis, pour y accoucher de son enfant en secret avant de rentrer à Corance. Une prêtresse lui prédit que sa fille à naître périra dans l’enfance à cause de sa famille. Sous le choc, Idissa perd les eaux et met au monde une petite fille, Dessia.</p>
<p>Elle découvre que Luzette a envoyé une lettre de Costancia Jostiral à Merria Pondarque, la mère de Jaybis, sans réaliser que cela provoquerait sa perte. Idissa comprend qu’elle ne peut pas retourner à Corance et qu’elle doit quitter Cavar aussi vite que possible, avant que sa tante ne puisse se venger pour la mort de son fils. Elle écrit à Merria en prétendant avoir accouché d’une fille mort-née dans l’espoir de la protéger.</p>
<p>À Virda, Giorda et Dorio apprennent dans une missive de Merria qu’Idissa est responsable de la mort de leur cousin Jaybis, et qu’elle a aidé Aron à échapper aux Jostiral. Giorda demande à Dorio de partir pour Cavar pour intercepter Idissa avant qu’elle ne disparaisse dans la nature. Plutôt que de la livrer aux Pondarque, elle projette de la marier au sultan pour consolider leurs liens avec le Sarouha, quitte à menacer la vie de Dessia si elle refuse de lui obéir. Pour cela, Giorda compte orchestrer une unification du droit rubisien et en utiliser les subtilités juridiques afin d’obtenir la légitimation d’Idissa, qui deviendrait alors Idissa Carmidor.</p>
<p>Giorda épouse Rehard, mais la procession dans la cité est écourtée à cause d’une émeute. Le peuple s’insurge contre les Virdemis qui leur ont apporté la peste, et nient l’autorité de Giorda qui demeure une reine sans couronne.</p>
<p>Le couple royal célèbre son union, entouré de la noblesse. Après avoir assuré que la dot de Giorda était en chemin, Dorio et Dalirie quittent Virda.</p>
<p>Giorda et Rehard profitent de leur nuit de noces, mais la soirée tourne au cauchemar&nbsp;: des intrus attaquent le palais. Les courtisans et les soldats sont décimés. Le général des armées, Boyon Prandis, a disparu, tout comme les Moronard.</p>
<p>Lors d’une bataille meurtrière dans la salle du trône, des hordes de pestiférés déferlent sur les gardes. Le baron Moerl Tasquin est tué, Visars Virdemis estropié de la main droite en protégeant Rehard. Les survivants se replient et tentent de fuir le palais. Un incendie se propage. Janéa Arganza, prisonnière de ses appartements en feu, se jette par la fenêtre pour abréger ses souffrances.</p>
<p>Alors qu’ils courent pour échapper à la mort, le plafond s’effondre sur Rehard, le baron Forbon Dépinant et Herri Dignol, le chef de la garde royale. Le cœur brisé, Giorda doit se résoudre à les abandonner. Visars Virdemis, Lods Rhodives, Catessia et elle parviennent à fuir Virda pour sauver leur vie.</p>