<small class="chapter-date">An 1310 après l’Engloutissement</small>

<p>Visars Virdemis et Bargald Carmidor ont renversé la dynastie régnante. Seule la fille du roi Todvis, Dista Arvagna, a échappé au massacre en se réfugiant en <span class="pseudo-link" data-js="popin" data-popin="arcavie">Arcavie</span>. Rehard Virdemis, le neveu de Visars, est monté sur le trône de <span class="pseudo-link" data-js="popin" data-popin="rubisie">Rubisie</span>. Bargald a découvert que Visars a saboté une proposition d’union entre Todvis et lui, mais pour préserver la paix, il a décidé de taire cette trahison.</p>
<p>Ses enfants Giorda et Dorio l’ont rejoint à <span class="pseudo-link" data-js="popin" data-popin="virda">Virda</span>. Il est assassiné sous leurs yeux. Convaincu de la culpabilité des Virdemis, Aron, l’aîné, s’est rebellé contre eux. Dorio et Giorda ne l’ont pas cru et se sont alliés à Rehard pour le destituer. Ils se sont emparés de <span class="pseudo-link" data-js="popin" data-popin="corance">Corance</span> avec les armées royales. Dorio est devenu le nouveau duc. Aron a fui au <span class="pseudo-link" data-js="popin" data-popin="sarouha">Sarouha</span> et a sollicité l’aide du sultan pour reconquérir ses terres. Seliman a refusé et l’a banni.</p>
<p>Idissa, leur demi-sœur, est tombée enceinte de son amant. Pour dissimuler sa grossesse scandaleuse, elle a gagné l’Arcavie.</p>
<p>Visars a fiancé Giorda à Quopras Moronard, l’héritier de <span class="pseudo-link" data-js="popin" data-popin="region-sorgone">Sorgone</span>, pour l’empêcher d’épouser Rehard. Juste avant leurs noces, un raz-de-marée a dévasté la cité. Le père de Quopras s’est suicidé. En apprenant cette catastrophe prédite par le Grand-Prêtre de Népéidon, Dista s’est convertie au népéisme.</p>
<p>Enfin, Aron a découvert que Todvis projetait de lui offrir la main de Dista. Il a décidé de s’enrôler dans un équipage de pirates pour rejoindre l’Arcavie afin de demander la reine en mariage.</p>