<small class="chapter-date">An 1311 après l’Engloutissement</small>

<p>À peine son mariage au roi Rehard célébré, Giorda Carmidor et la cour ont fui <span class="pseudo-link" data-js="popin" data-popin="virda">Virda</span>, tombée aux mains des Martres, des roturiers convertis au népéisme qui combattent au nom de Dista Arvagna. Grièvement blessé, Rehard a subi plusieurs amputations avant de supplier Giorda d’abréger ses souffrances. Elle l’a alors empoisonné.</p>
<p>À <span class="pseudo-link" data-js="popin" data-popin="nurat">Nurat</span>, elle a appris que Quopras Moronard, son ex-fiancé, a juré allégeance à Dista et fomenté cet attentat. Soumise à son chantage, elle est contrainte de garder le silence, mais a tout de même avoué la vérité à Visars Virdemis, le nouveau souverain.</p>
<p>Elle a ainsi pactisé avec lui. Afin de se marier avec elle, il a répudié Catessia et a exilé son père, Lods Rhodives, dont Giorda a découvert qu’il avait commandité le meurtre de Bargald Carmidor. Loin des regards, elle a ordonné son assassinat.</p>
<p>Reine pour la deuxième fois, Giorda a obtenu la légitimation de sa demi-sœur bâtarde, Idissa, destinée à devenir kadine du <span class="pseudo-link" data-js="popin" data-popin="sarouha">Sarouha</span>. Afin de s’assurer de sa loyauté, Dorio lui a enlevé son bébé, Dessia, prétendument décédée à la naissance pour la protéger des Pondarque, désireux de venger la mort de Jaybis.</p>
<p>En <span class="pseudo-link" data-js="popin" data-popin="arcavie">Arcavie</span>, Aron a accepté le baptême népéiste. Lors de son combat dans le théâtre du dieu de l’océan, une népyrme l’a secouru devant des milliers d’Arcaviens. Proclamé élu de Népéidon, il a épousé Dista.</p>
<p>Les armées de Visars ont marché sur Virda pour la libérer des Martres. Hélas, le fanatisme religieux et la peste ont dévasté la capitale. Fou de rage, Dorio a décidé d’anéantir le népéisme et a accusé Quopras d’hérésie, qu’importe si cela brise son mariage avec Dalirie, enceinte de leur premier enfant.</p>