<small class="chapter-date">An 1311 après l’Engloutissement</small>

<p>Aron Carmidor a fait voile vers <span class="pseudo-link" data-js="popin" data-popin="lorsis">Lorsis</span> avec Némétria Al-Mehet, la sœur du roi dont il a juré de se venger. Elle a tenté de le livrer aux Virdemis, mais la <em>Cibellia</em> a réussi à leur échapper pendant qu’une népyrme a coulé leur galion.</p>
<p>Arrivé à <span class="pseudo-link" data-js="popin" data-popin="caradesse">Caradesse</span>, Aron est capturé par les Jostiral. Idissa a pactisé avec les Népéis pour le sauver. Le petit Kivan est torturé avant d’être envoyé dans un monastère. Aron a assassiné leur cousin Jaybis, puis Gorcrate Jostiral. Hélas, ce dernier a massacré l’équipage de la <em>Cibellia</em>. Aron a offert le dromon à l’océan et a rencontré deux népyrmes domestiquées par les Népéis arcaviens. </p>
<p>Dista est rentrée à <span class="pseudo-link" data-js="popin" data-popin="erinthe">Érinthe</span> où le roi Millas l’a pressée de se fiancer à Oberic Hosbourg afin d’apaiser des tensions politiques. Elle y a consenti en attendant de trouver une meilleure solution. Lorsque Aron l’a demandée à son tour en mariage, elle l’a emprisonné pour sa propre protection, mais a accepté en secret de s’allier à lui.</p>
<p>Les Carmidor et les Moronard ont fui <span class="pseudo-link" data-js="popin" data-popin="sorgone">Sorgone</span>, gangrénée par la peste. Giorda s’est défaite de l’emprise de Quopras Moronard en le menaçant d’ébruiter sa conversion au népéisme.</p>
<p>À <span class="pseudo-link" data-js="popin" data-popin="cavar">Cavar</span>, Idissa a accouché d’une petite fille, Dessia. Hélas, sa tante Merria a appris qu’elle avait causé la mort de Jaybis, et Idissa a prétendu Dessia décédée pour la préserver de sa vengeance.</p>
<p>Dorio a épousé Dalirie, puis a quitté <span class="pseudo-link" data-js="popin" data-popin="virda">Virda</span> pour retrouver Idissa. Giorda et Rehard se sont mariés, mais leur nuit de noces s’est achevée en attentat. Giorda est parvenue à fuir la capitale en abandonnant Rehard dans le palais en flammes.</p>