{% extends "layout.njk" %}

{% block head %}
    <title>Les Carmidor - L'autrice</title>
    <meta name="description" content="Féministe, passionnée d'histoire médiévale et autrice de Les Carmidor, Olivia Gometz commence à écrire très jeune et publie sur internet depuis 2006." />
{% endblock %}

{% block content %}
    {% import 'nav.njk' as nav %}
    {{nav.active('author')}}

    <main>
        <h1>L'autrice</h1>

        <p>Description</p>
    </main>

    {% include 'footer.njk' %}
{% endblock %}