{% extends "layout.njk" %}

{% block head %}
    <title>Les Carmidor - Avis</title>
{% endblock %}

{% block content %}
    {% import 'nav.njk' as nav %}
    {{nav.active('comments')}}

    <main>
        <h1>Avis</h1>

        <p>Description</p>
    </main>

    {% include 'footer.njk' %}
{% endblock %}