{% extends "layout.njk" %}

{% block head %}
    <title>Les Carmidor - Romans fantasy</title>
    <meta name="description" content="Les Carmidor est une saga fantasy écrite par Olivia Gometz et éditée par Beta Publisher : un Game of Thrones sans dragons ni magie, mais tout aussi sanglant." />
{% endblock %}

{% block content %}
    {% import 'nav.njk' as nav %}
    {{nav.active('home')}}

    <main>
        <section class="top-banner home-banner">
            <article>
                <h1>les <em>Carmidor</em></h1>
                <strong>Saga Fantasy</strong>

                <a href="https://www.betapublisher.com/roman/trahir-%26-survivre" rel="external" target="_blank" class="logo--bp">
                    Éditions Beta Publisher
                    {% include 'svg/logos/beta-publisher.svg' %}
                </a>
            </article>

            {% include 'svg/wave.svg' %}
        </section>

        <section class="home-intro maxwidth--lg">
            <div class="logo--carmidor">
                {% include 'svg/logos/carmidor.svg' %}
            </div>

            <p>
                <em>Les Carmidor</em> est une série de <strong>romans fantasy de mœurs</strong>. Au programme&nbsp;: séduction, complots, manipulation, ambition, guerres et oppression. Ces thèmes sont abordés pour un public adulte et averti&nbsp;: avant d'aller plus loin, pensez à consulter les <a href="/trigger-warnings">trigger warnings</a>.
            </p>
        </section>

        <section class="home-book">
            {% include 'svg/wave.svg' %}

            <div class="content">
                <article class="maxwidth--sm text--sm text--margin-sm">
                    <h2>
                        Tome <span>1</span> – Trahir et Survivre
                    </h2>

                    <p>
                        Prête à tout pour protéger son île, la puissante famille Carmidor s'allie aux nobles continentaux et renverse le souverain.
                    </p>

                    <p>
                        La dynastie royale est massacrée. Tandis que les Virdemis s'emparent de la couronne, le clan insulaire étend son influence dans la capitale en usant de son or et de ses charmes.
                    </p>

                    <p>
                        Mais au nord, la dernière Arvagna jure d'anéantir les assassins de ses parents, dût-elle rejoindre les redoutables Népéis dont les prophéties annoncent l'engloutissement des terres émergées.
                    </p>

                    <p>
                        Les Carmidor le savent&nbsp;: les vagues les plus dévastatrices ne seront pas faites d'écume et de sel.
                    </p>

                    <p>
                        Elles seront de terreur et de sang.
                    </p>
                </article>

                <img src="./img/medias/book.png" class="img--book" alt="Tome 1 : Trahir et Survivre (format broché)" />
            </div>

            {% include 'svg/wave.svg' %}
        </section>

        <section class="home-trailer">
            <h2>
                Booktrailer du tome&nbsp;<span>1</span>
            </h2>

            <small class="maxwidth--md">
                Attention&nbsp;: ce site ne collecte aucune donnée personnelle, mais YouTube, si. Vous serez traqué dès que vous lancerez cette vidéo (comme d'hab, en fait). Plus d'informations dans les <a href="/mentions-legales">mentions légales</a>. 
            </small>

            <div class="video">
                <iframe src="https://www.youtube-nocookie.com/embed/x59_QCjOWD4" allow="clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </section>

        <section class="home-discover">
            {% include 'svg/wave.svg' %}

            <h2 class="title--header">
                Découvrir le tome&nbsp;<span>1</span>
            </h2>

            <div class="buttons">
                <a href="https://www.wattpad.com/655892420-les-carmidor-t1-trahir-et-survivre" rel="external" target="_blank" class="link link--white">
                    Lire le début sur Wattpad
                </a>

                <a href="/acheter" class="button button--white button--active-primary">
                    Acheter
                </a>
            </div>

            {% include 'svg/wave.svg' %}
        </section>

        <section class="home-comments">
            <h2>
                Ce que les lecteurs en disent
            </h2>

            <figure>
                <blockquote cite="https://www.instagram.com/p/CVazzEqKqIB/">
                    <p>
                        Ce roman est incroyable&nbsp;! Je l'appréhendais un peu, il est vrai, mais c'est purement et simplement un coup de cœur&nbsp;! On se retrouve dans un univers complexe et terriblement bien construit&nbsp;[...] Une véritable montagne russe.
                    </p>
                </blockquote>

                <figcaption>
                    <cite>Ma bouquinerie</cite>
                    –&nbsp;Partenaire Beta Publisher
                </figcaption>
            </figure>

            <div class="buttons">
                <a href="/avis" class="button button--primary">
                    Lire plus d'avis
                </a>
            </div>
        </section>

        <section class="home-lore">
            {% include 'svg/wave.svg' %}

            <div class="container text--sm">
                <article class="maxwidth--xs">
                    {% include 'svg/illu/map.svg' %}

                    <h2>Royaumes et cités</h2>

                    <p>
                        Parcourez la carte des terres émergées et visitez les lieux de l'histoire&nbsp;: ceux que l'on se dispute, ceux que l'on possède et ceux où l'on meurt&hellip;
                    </p>

                    <div class="buttons">
                        <a href="/carte" class="button button--white button--active-secondary">
                            Naviguer
                        </a>
                    </div>
                </article>

                <article class="maxwidth--xs">
                    {% include 'svg/illu/characters.svg' %}

                    <h2>Familles et personnages</h2>

                    <p>
                        Rois, dames, courtisanes et guerriers&nbsp;: découvrez les clans, les emblèmes et les visages de ceux qui écrivent l'histoire – avec leur sang ou celui de leurs ennemis&hellip;
                    </p>

                    <div class="buttons">
                        <a href="/familles" class="button button--white button--active-secondary">
                            Rencontrer
                        </a>
                    </div>
                </article>
            </div>

            {% include 'svg/wave.svg' %}
        </section>

        <section class="home-author">
            <article class="maxwidth--xs text--sm">
                <h2>L'autrice&nbsp;: Olivia Gometz</h2>

                <p>
                    Ce que j'écris d'autre, mon parcours, des infos perso&hellip; tout ce qu'il y a à savoir sur moi, dans une page où je me fais mousser (et bourrée de redirections) (la page, pas moi).
                </p>

                <div class="buttons">
                    <a href="/autrice" class="button button--primary">
                        En savoir plus
                    </a>
                </div>
            </article>

            <aside class="person">
                <img src="./img/medias/me.png" alt="L'autrice des Carmidor, Olivia Gometz" />

                {% include 'block-networks.njk' %}
            </aside>
        </section>
    </main>

    {% include 'footer.njk' %}
{% endblock %}