{% extends "layout.njk" %}

{% block head %}
    <title>Les Carmidor</title>
{% endblock %}

{% block content %}
    {% import 'nav.njk' as nav %}
    {{nav.active('home')}}

    <main>
        <section class="top-banner home-banner">
            <article>
                <h1>les <em>Carmidor</em></h1>
                <strong>Saga Fantasy</strong>

                <a href="https://www.betapublisher.com/roman/trahir-%26-survivre" rel="external" target="_blank" class="logo--bp">
                    Éditions Beta Publisher
                    {% include 'svg/logos/beta-publisher.svg' %}
                </a>
            </article>

            {% include 'svg/wave.svg' %}
        </section>

        <p>Les Carmidor sont en train de <strong>dev leur site</strong> (oui oui ils sont dev aussi des fois).</p>
    </main>

    {% include 'footer.njk' %}
{% endblock %}