{% extends "layout.njk" %}

{% block head %}
    <title>Les Carmidor - Romans fantasy</title>
    <meta name="description" content="Les Carmidor est une saga fantasy écrite par Olivia Gometz et éditée par Beta Publisher : un Game of Thrones sans dragons ni magie, mais tout aussi sanglant." />
{% endblock %}

{% block content %}
    {% from 'nav.njk' import nav %}
    {{nav('home')}}

    <main>
        <section class="banner home-banner">
            <article>
                <h1>les <em>Carmidor</em></h1>
                <strong>Saga Fantasy</strong>

                <a href="{{websites.publisher.main}}" rel="external" target="_blank" class="button--publisher">
                    Éditions Plume Blanche
                </a>
            </article>

            {% include 'svg/wave.svg' %}
        </section>

        <section class="home-intro maxwidth--lg">
            <div class="logo--carmidor">
                {% include 'svg/logos/carmidor.svg' %}
            </div>

            <p>
                <em>Les Carmidor</em> est une pentalogie (une saga en 5 tomes) de <strong>fantasy de mœurs</strong>. Le tome 1 avait été édité une première fois en octobre 2021 jusqu'en juin 2023, et il reparaîtra aux éditions Plume Blanche le <strong>1er avril 2025</strong>.
            <p>

            <p>
                Au programme&nbsp;: séduction, complots, manipulation, ambition, guerres et oppression. Ces thèmes sont abordés pour un <strong>lectorat adulte et averti&nbsp;:</strong> avant d'aller plus loin, pensez à consulter les <a href="/trigger-warnings">trigger warnings</a>.
            </p>
        </section>

        <section class="home-book">
            {% include 'svg/wave.svg' %}

            <div class="content">
                <article class="maxwidth--sm text--sm text--margin-sm">
                    <h2>
                        Tome <span>1</span> – Trahir et Survivre
                    </h2>

                    <p>
                        Le royaume de Rubisie se déchire entre l'Ouest, appauvri par de graves sécheresses, et les riches duchés de l'Est, dont l'influence menace le roi.
                    </p>

                    <p>
                        Mus par l'ambition, les nobles continentaux et la puissante famille Carmidor s'allient contre la dynastie royale. Seule la princesse héritière, Dista Arvagna, échappe au massacre.
                    </p>

                    <p>
                        Entre complots, assassinats et montée en puissance d'une secte religieuse prédisant le soulèvement des océans, les Carmidor doivent lutter pour leur survie, quels que soient les sacrifices.
                    </p>

                    <p>
                        Plus que les autres, ils le savent&nbsp;: les vagues les plus dévastatrices seront faites de larmes et de sang.
                    </p>

                    <p>
                        Elles seront de terreur et de sang.
                    </p>
                </article>

                <img src="./img/medias/book.png" class="img--book" alt="Tome 1 : Trahir et Survivre (format broché)" />
            </div>

            {% include 'svg/wave.svg' %}
        </section>

        <section class="home-intro maxwidth--lg">
            <h2 class="title--normal">Et après le tome <span>1</span>&nbsp;?</h2>

            <p>
                Le tome 2, <em>Unir et Détruire</em>, est actuellement en cours d'écriture. Comme le tome 1, sa sortie est prévue pour 2025&nbsp;!
            </p>

            <p>
                Les 3 tomes suivants paraîtront au rythme de un par an&nbsp;: le tome 3 en 2026, le tome 4 en 2027 et le tome 5 (le final) en 2028.
            </p>
        </section>

        <section class="home-discover">
            {% include 'svg/wave.svg' %}

            <h2 class="title--header">
                Découvrir le tome&nbsp;<span>1</span>
            </h2>

            <div class="buttons">
                <a href="{{websites.wattpad.tome1.start}}" rel="external" target="_blank" class="link link--white">
                    Lire le début sur Wattpad
                </a>

                <a href="/acheter" class="button button--white button--active-primary">
                    Acheter
                </a>
            </div>

            {% include 'svg/wave.svg' %}
        </section>

        <section class="home-comments">
            <h2 class="title--normal">
                Ce que les lecteurs en disent
            </h2>

            {% from 'quote.njk' import quote %}
            {{quote(comments.anouklangel, hasButton=false)}}

            <div class="buttons">
                <a href="/avis" class="button button--primary">
                    Lire plus d'avis
                </a>
            </div>
        </section>

        <section class="home-lore">
            {% include 'svg/wave.svg' %}

            <div class="container text--sm">
                <article class="maxwidth--xs">
                    {% include 'svg/illu/map.svg' %}

                    <h2>Royaumes et cités</h2>

                    <p>
                        Parcourez la carte interactive des terres émergées et explorez les lieux de l'histoire&nbsp;: ceux qu'on protège, ceux qu'on détruit et ceux où l'on périt&hellip;
                    </p>

                    <div class="buttons">
                        <a href="/carte" class="button button--white button--active-secondary">
                            Naviguer
                        </a>
                    </div>
                </article>

                <article class="maxwidth--xs">
                    {% include 'svg/illu/characters.svg' %}

                    <h2>Familles et personnages</h2>

                    <p>
                        Rois, dames, courtisanes et guerriers&nbsp;: découvrez les clans, les emblèmes et les visages de ceux qui écrivent l'histoire – avec leur sang ou celui de leurs ennemis.
                    </p>

                    <div class="buttons">
                        <a href="/familles" class="button button--white button--active-secondary">
                            Rencontrer
                        </a>
                    </div>
                </article>
            </div>

            {% include 'svg/wave.svg' %}
        </section>

        <section>
            <h2 class="title--normal">
                Les médias en parlent
            </h2>

            <div class="container">
                {% for id, media in websites.media %}
                    <a href="{{media.link}}" class="logo logo--md logo--black" rel="external" target="_blank" aria-label="{{media.name}}">
                        {% include "svg/logos/medias/" + id + ".svg" %}
                    </a>
                {% endfor %}
            </div>
        </section>
    </main>

    {% include 'footer.njk' %}
{% endblock %}