{% extends "layout.njk" %}

{% block head %}
    <title>Les Carmidor</title>
{% endblock %}

{% block content %}
    <main>
        <h1>Liens Insta</h1>

        <p>Description</p>
    </main>
{% endblock %}