{% extends "layout.njk" %}

{% block head %}
    <title>Les Carmidor - Le monde</title>
{% endblock %}

{% block content %}
    {% import 'macros/nav.njk' as nav %}
    {{nav.active('world')}}

    <main class="map" data-zoom="1">
        {% include 'svg/map.svg' %}
    </main>

    <section class="map-controls">
        <h1>Les terres émergées</h1>

        <div class="zoom-control">
            {% include 'svg/icons/mountains.svg' %}

            <input type="range" min="100" max="250" value="100" id="map-zoom" />

            {% include 'svg/icons/mountains.svg' %}
        </div>

        <div class="echelle" id="echelle" data-zoom="1">
            <span class="zoom-1">1&#8239;000</span>
            <span class="zoom-2">600</span>
            <span class="zoom-3">300</span>
            km
        </div>
    </section>

    <script src="js/map.js"></script>
{% endblock %}