{% extends "layout.njk" %}

{% block head %}
    <title>Les Carmidor - Trigger warnings</title>
    <meta name="description" content="La liste des trigger warnings ou avertissements de contenu dans Les Carmidor (tous tomes confondus)." />
{% endblock %}

{% block content %}
    {% from 'nav.njk' import nav %}
    {{nav()}}

    <main>
        <section class="banner-gradient banner-gradient--dark-secondary">
            <div class="container container--wrap-reverse">
                <article class="maxwidth--sm text--margin-sm">
                    <h1 class="title--header">Trigger warnings</h1>

                    <p><em>Les Carmidor</em> aborde de nombreux sujets qui pourraient réveiller des traumatismes chez certains lecteurs. Si vous en ressentez le besoin, consultez la liste des avertissements ci-dessous.</p>
                </article>

                <img src="/img/medias/all-paperback.png" class="img img--sm" alt="Les Carmidor, tous les tomes (format broché)" />
            </div>

            {% include 'svg/wave.svg' %}
        </section>

        <section class="container">
            <article class="text--center text--margin-sm">
                <h2>Thèmes difficiles abordés</h2>

                <p>Meurtre, suicide</p>

                <p>Viol, violence physique</p>

                <p>Mutilation, amputation</p>

                <p>Décès infantile</p>

                <p>Misogynie, sexisme</p>
            </article>
        </section>
    </main>

    {% include 'footer.njk' %}
{% endblock %}