{% extends "layout.njk" %}

{% block head %}
    <title>Les Carmidor - Trigger warnings</title>
{% endblock %}

{% block content %}
    {% import 'nav.njk' as nav %}
    {{nav.active('')}}

    <main>
        <h1>Trigger warnings</h1>

        <p>Texte</p>
    </main>

    {% include 'footer.njk' %}
{% endblock %}