.resumes-container {
    padding-top: $spaceSM;
    padding-bottom: $spaceSM;

    article {
        background-color: $white00;
        box-shadow: $blackShadowMD;
        margin: $spaceMD;
    }

    img {
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }
}