main {
    height: calc(100vh - #{$navHeight});
    overflow-x: hidden;
    scroll-behavior: smooth;
    opacity: 0;

    @include animation($durationMD linear forwards) {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}
