main {
    padding-top: $navHeight;
    scroll-behavior: smooth;
    opacity: 0;

    @include animation($durationMD linear forwards) {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}
