{% macro active(activePage='') %}
<nav>
    <button type="button" class="hamburger" data-js="click" data-click="menu">
        <span></span>
        <span></span>
        <span></span>
    </button>

    <a href="/" class="logo{%if activePage == 'home' %} animated{% endif %}">
        {% include 'svg/cormoran.svg' %}
    </a>

    <ul data-id="menu">
        <li>
            <a href="/" class="link{%if activePage == 'home' %} active{% endif %}">
                Découvrir
            </a>
        </li>
        
        <li>
            <a href="/monde" class="link{%if activePage == 'world' %} active{% endif %}">
                Le monde
            </a>
        </li>
        
        <li>
            <a href="/personnages" class="link{%if activePage == 'characters' %} active{% endif %}">
                Les personnages
            </a>
        </li>
        
        <li>
            <a href="/autrice" class="link{%if activePage == 'author' %} active{% endif %}">
                L'autrice
            </a>
        </li>
    </ul>

    <a href="/acheter" class="button icon-mobile{%if activePage == 'buy' %} active{% endif %}">
        {% include 'svg/icons/cart.svg' %}
        Acheter
    </a>
</nav>
{% endmacro %}