{% macro active(activePage='') %}
<nav class="{%if activePage == 'world' %}not-fixed-on-desktop{% endif %}">
    <button type="button" class="hamburger" data-js="click" data-click="menu">
        <span></span>
        <span></span>
        <span></span>
    </button>

    <a href="/" class="logo{%if activePage == 'home' %} animated{% endif %}">
        {% include 'svg/cormoran.svg' %}
    </a>

    <ul data-id="menu">
        <li>
            <a href="/" class="link{%if activePage == 'home' %} active{% endif %}">
                Accueil
            </a>
        </li>
        
        <li>
            <a href="/univers" class="link{%if activePage == 'lore' %} active{% endif %}">
                Univers
            </a>
        </li>
        
        <li>
            <a href="/avis" class="link{%if activePage == 'comments' %} active{% endif %}">
                Avis
            </a>
        </li>
        
        <li>
            <a href="/autrice" class="link{%if activePage == 'author' %} active{% endif %}">
                Autrice
            </a>
        </li>

        <li>
            <a href="/fans" class="link{%if activePage == 'fans' %} active{% endif %}">
                Coin des fans
            </a>
        </li>
    </ul>

    <a href="/acheter" class="button icon-mobile{%if activePage == 'buy' %} active{% endif %}">
        {% include 'svg/icons/cart.svg' %}
        Acheter
    </a>
</nav>
{% endmacro %}