&[data-zoom="1"] {
    .pays {
        cursor: pointer;

        &:hover {
            .pays-zone {
                stroke-opacity: 1;
            }
        }
    }

    .grid-2,
    .grid-3,
    .ville,
    .fleuve {
        opacity: 0;
    }
}

&[data-zoom="2"] {
    .region {
        cursor: pointer;

        .region-zone {
            stroke-width: 0.5px;
        }

        &:hover {
            .region-zone {
                stroke-opacity: 1;
            }
        }
    }

    .grid-1,
    .grid-3,
    .ville,
    .nom-pays,
    .fleuve text {
        opacity: 0;
    }

    .grande-ville {
        opacity: 1;
    }

    .nom-ocean {
        opacity: 0.3;
    }
}

&[data-zoom="3"] {
    .grid-1,
    .grid-2,
    .nom-pays {
        opacity: 0;
    }

    .nom-montagne {
        g:hover {
            opacity: 1;
        }
    }

    .nom-ocean {
        opacity: 0.2;
    }
}
