<div class="networks">
    <a href="https://www.instagram.com/oliviagometz/" rel="external" target="_blank">
        {% include 'svg/logos/networks/instagram.svg' %}
    </a>

    <a href="https://www.facebook.com/OliviaGometzAutrice/" rel="external" target="_blank">
        {% include 'svg/logos/networks/facebook.svg' %}
    </a>

    <a href="https://www.wattpad.com/user/OliviaGometz" rel="external" target="_blank">
        {% include 'svg/logos/networks/wattpad.svg' %}
    </a>
</div>