<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% set version = "1.0.0" %}
        {% block head %}{% endblock %}
        <link href="{{ path }}css/style.css?v={{version}}" rel="stylesheet">
        <!-- Favicons -->
        <link rel="apple-touch-icon" sizes="180x180" href="{{ path }}img/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ path }}img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ path }}img/favicon/favicon-16x16.png">
        <link rel="manifest" href="{{ path }}img/favicon/site.webmanifest">
        <link rel="mask-icon" href="{{ path }}img/favicon/safari-pinned-tab.svg" color="#750A0A">
        <link rel="shortcut icon" href="{{ path }}img/favicon/favicon.ico">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="{{ path }}img/favicon/browserconfig.xml">
        <meta name="theme-color" content="#750a0a">
    </head>

    <body data-zoom="1" data-id="menu">
        {% block content %}{% endblock %}

        <script src="{{ path }}js/base.js?v={{version}}"></script>
    </body>
</html>