{% for id, place in world %}
    <article class="popin" data-popin="{{id}}">
        <div class="popin__header{% if not place.picture %} popin__header--border{% endif %}">
            <h2>{{place.title}}</h2>

            <button type="button">{% include 'svg/icons/cross.svg' %}</button>
        </div>

        <div class="popin__content">
            {% if place.picture %}
                <img src="./img/world/{{id}}.png" class="popin__content__banner" />
            {% endif %}

            <div class="popin__content__text">
                {% if place.subtitle|length %}<p class="emphasis">{{place.subtitle | safe}}</p>{% endif %}

                {% include 'svg/world/zones/' + id + '.svg' ignore missing %}

                {% for paragraph in place.details %}
                    <p>{{paragraph | safe}}</p>
                {% endfor %}
            </div>

            {% if place.family %}
                <div class="popin__footer popin__footer--{{place.family}}">
                    <span>Dirigeants</span>
                    <p>Les {{families[place.family]}}</p>
                </div>
            {% endif %}
        </div>
    </article>
{% endfor %}