{% macro nav(activePage='') %}
<nav>
    <button type="button" class="hamburger" data-js="click" data-click="menu">
        <span></span>
        <span></span>
        <span></span>
    </button>

    <a href="/" class="home">
        {% include 'svg/logos/carmidor.svg' %}
    </a>

    <div class="overlay" data-js="close"></div>

    {%
        set links = {
            home: {
                name: 'Accueil',
                url: ''
            },
            map: {
                name: 'Carte',
                url: 'carte'
            },
            characters: {
                name: 'Familles',
                url: 'familles'
            },
            comments: {
                name: 'Avis',
                url: 'avis'
            },
            author: {
                name: 'Autrice',
                url: 'autrice'
            }
        }
    %}

    <ul>
        {% for id, link in links %}
            <li>
                <a href="/{{ link.url }}" class="link link--white{%if activePage == id %} active{% endif %}">
                    {{ link.name }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <a href="/acheter" class="button button--white button--active-primary icon-mobile{%if activePage == 'buy' %} active{% endif %}">
        {% include 'svg/icons/cart.svg' %}
        Acheter
    </a>
</nav>
{% endmacro %}